@{
    ViewBag.Title = "Scheduling";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section header
{
    <script src="~/Scripts/default/schedule.js"></script>
}
<div class="container-fluid">
    <div class="side-body">

        <div class="row row-same-height">
            @if (currentUser.InRoles("coach,assistant"))
            {
                @Html.Action("Group", "Schedule")
            }

            <div class="@(currentUser.InRoles("coach,assistant") ? "col-lg-8" : "col-lg-12") col-sm-12 col-md-12 top-padding schedule-table-wrapper col-lg-height" id="TablePart">
                @if (currentUser.OwnTeam != null)
                {
                    @Html.Action("Scheduling", "Schedule")
                }
                else
                {
                    @Html.Action("PersonalScheduling", "Schedule")
                }
            </div>
        </div>

    </div>
</div>