@model platformAthletic.Model.User
@{
    var month = DateTime.Now.AddDays(-DateTime.Now.Day + 1);
}
<div id="CalendarWrapper" class="schedule-calendar">
    @Html.Action("PersonalCalendar", "Schedule", new { month = month })
</div>
