@model platformAthletic.Models.ViewModels.GroupView

<div class="modal fade" id="modalRemoveGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">DELETE GROUP</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RemoveGroup", "Schedule", FormMethod.Post, new { id = "RemoveGroupForm" }))
                {
                    @Html.Hidden("ID", Model.ID)
                    <p>
                        If you delete this group (@Model.Name) the schedule will be lost and all players will be moved back to the Team.
                    </p>
                    <p>
                        Are you sure you want to delete?
                    </p>
                }
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="RemoveGroupBtn">YES</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>