@model platformAthletic.Model.Team
@{
    var month = DateTime.Now.Current().AddDays(-DateTime.Now.Current().Day + 1);
}
<div id="CalendarWrapper" class="schedule-calendar">
    @Html.Action("Calendar", "Schedule", new {month = month, teamId = Model.ID})
</div>
