<script>
    $("#PrintAll").wrap("<div class='tutorial-highlight left'></div>");
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; right: 0; bottom: 50px;">
        <div class=" modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> <span class="nextBtn" data-step="1">Welcome</span> / <span class="nextBtn" data-step="2">Dashboard</span></strong> / Wrap-up</div>
                <h1>Print workouts</h1>
                <p>
                    Personalized training every week, for every athlete – with a click.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="5">Even better</button>
            </div>
        </div>
    </div>
</div>