@model CoachTodoListInfo
@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    var noPlayers = currentUser.OwnTeam.CountPlayers == 0;
}
@{
    var i = 1;
}
<li><h1 class="todo">TO DO:</h1></li>
@foreach (var item in Model.List)
{

    <li class="todo-list-item">
        @if (item.Solved)
        {
            <span class="glyphicon glyphicon glyphicon-ok"></span>@item.Name
        }
        else
        {
            if (i > 3 && noPlayers)
            {
                <span class="clickable forbitBtn" data-message="You must add at least one player before you can enter maxes"><span class="glyphicon glyphicon-info-sign"></span><span>@item.Name</span></span>
            }
            else
            {
                <a href="@item.Url"><span class="glyphicon glyphicon-info-sign"></span><span>@item.Name</span></a>
            }
        }
    </li>
        i++;
}