<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">TUTORIAL</h4>
            </div>
            <div class="modal-body">
                <h1>Easy, Right?</h1>
                <p>
                    Now, take advantage of the To-Do list at the top of the page (or wherever we put it) ,and explore the site at your own pace.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="end">ROGER THAT</button>
            </div>
        </div>
    </div>
</div>
</div>