<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">TUTORIAL</h4>
            </div>
            <div class="modal-body">
                <h1>Player Snapshot</h1>
                <img src="~/Content/img/tutorial/coach_tutorial_06.png" />
                <p>
                    A quick look at what your athletes have been up to in their training.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="7">LET’S WRAP UP</button>
            </div>
        </div>
    </div>
</div>
</div>