<script>
    $(function () {
        $(".table-players").wrap("<div class='tutorial-highlight user-off'></div>");
    });
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; left: 60%; top: 100px;">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome / Dashboard</strong> / Wrap-up</div>
                <h1>Attendance Tracker</h1>
                <p>
                    Hold athletes accountable with easy attendance tracking.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="6">YES!</button>
            </div>
        </div>
    </div>
</div>
