<script>
    $(function () {
        
        dashboard.onCompleteUserInfo = function () {
            $("#Content").addClass("tutorial-manipulate");
            $("#PerformanceWrapper").wrap("<div class='tutorial-highlight'></div>");
        }
        
    });
</script>
<div class="modal fade" id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; left: 20%; top: 100px;">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome / Dashboard</strong> / Training</div>
                <h1>Player Snapshot</h1>

                <p>
                    A quick look at what your athletes have been up to in their training.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="7">LET’S WRAP UP</button>
            </div>
        </div>
    </div>
</div>