<script>
    $("#Content").addClass("tm-individual-7");
    $("#PersonalRankWrapper").wrap("<div class='tutorial-highlight'></div>");
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome / Info / My Page </strong> / Wrap-Up</div>
                <p>See how your maxes stack up </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="8">Next >></button>
            </div>
        </div>
    </div>
</div>
