<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome </strong>/ Info  / My Page  / Wrap-Up</div>
                <p></p>
                <p>
                    @Html.CheckBox("TermAndConditionChk", false) Agree to <a href="/term-and-condition" target="_blank">TC</a> and <a href="/privacy" target="_blank">Privacy Policy</a>
                </p>
                <p></p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="3">Next</button>
            </div>
        </div>
    </div>
</div>