<script>
    $("#ToggleAttendance").wrap("<div class='tutorial-highlight left little-top'></div>");
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; left: 60%; top: 250px;">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome / Info / My Page </strong> / Wrap-Up</div>
                <p>Check yourself in each day to log attendance  </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="7">Next >></button>
            </div>
        </div>
    </div>
</div>
