<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome </strong> / Info / My Page  / Wrap-Up</div>

                <h1>Welcome To The Platform!</h1>
                <p>
                    We specialize in building better athletes! You bring the effort every day, and we will do the rest.<br/>
                    At The Platform, We Train To Win.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="2">Let’s Get To It</button>
            </div>
        </div>
    </div>
</div>