<script>
    $("#ViewWorkout").wrap("<div class='tutorial-highlight left little-top'></div>");
</script>

<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; right: 0; top: 250px;">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> <span class="nextBtn" data-step="1">Welcome</span> / <span class="nextBtn" data-step="3">Info</span> / <span class="nextBtn" data-step="4">My Page</span> </strong> / Wrap-Up</div>
                <p>Print workouts or pull them up on your phone or tablet each week  </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="6">Next >></button>
            </div>
        </div>
    </div>
</div>
