<script>
    $("#WorkoutsComplete").wrap("<div class='tutorial-highlight'></div>");
    $("#Content").addClass("tm-player-7");
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <div class="breadcrumb"><strong> Welcome / Info / My Page </strong> / Wrap-Up</div>
                <p>Keep track of how many workouts you have logged  </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary nextBtn" data-step="8"> Easy Enough!</button>
            </div>
        </div>
    </div>
</div>
