@model TodoListInfo
@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<li class="todo-li"><h1 class="todo">TO DO:</h1></li>
@foreach (var item in Model.List)
{
    <li class="todo-li todo-list-item">
        @if (item.Solved)
        {
            <span class="glyphicon glyphicon glyphicon-ok"></span>@item.Name
        }
        else
        {
            <span class="clickable todoItem" data-href="@item.Url"><span class="glyphicon glyphicon-info-sign"></span><span>@item.Name</span></span>
        }
    </li>
}