<div class="modal fade " id="modalStopTestMode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <h1></h1>
                <p>
                    Please confirm you wish to get started. Once exited, you cannot go back to test mode.
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stay in Test Mode</button>
                <a href="/Tutorial/StopTestMode" class="btn btn-primary">Exit Test Mode</a>
            </div>
        </div>
    </div>
</div>