<script>
    $("#Content").addClass("tm-player-todo-32");
    $("#UserVideoWrapper").wrap("<div class='tutorial-highlight'></div>");
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <h1>It’s ok to show off!</h1>
                <p>
                    The My Video section is here to show others what you are capable of! Don’t hold back, upload a video now!
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Awesome</button>
            </div>
        </div>
    </div>
</div>