<script>
        $("#PrintAll").wrap("<div class='tutorial-highlight left'></div>");
</script>
<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; top: 210px;  right : 0%">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <h1>VIEW WORKOUT</h1>
                <p><strong>We don't do generic</strong></p>
                <p>
                    Accessing your team’s workouts couldn’t be easier. Simply click the “Print Workout” button and another page will open with every athlete’s sheet in alphabetical order, ready for printing.
                </p>
                <p>

                    (Note: Athletes can use their own accounts to print or access workouts via any mobile or tablet device)
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Give it a shot.</button>
            </div>
        </div>
    </div>
</div>