<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <h1>Training Schedule</h1>

                <p>We took the liberty of getting your training started. Not ready? Let’s take a look at how to set or adjust a training start date.</p>

                <table class="table hidden-xs">
                    <tr>
                        <td>
                            <strong>1. Select the “Edit Week” dropdown on the desired week</strong>
                            <img src="~/Content/img/tutorial/todo-4-1.png" />
                        </td>
                        <td>
                            <strong>2.  Choose the In-Season or Off-season program</strong>
                            (You can switch at any time)
                            <img src="~/Content/img/tutorial/todo-4-2.png" />
                        </td>
                        <td>
                            <strong>3. Click the first option labeled “Start In-season” or “Start Off-season”.</strong>
                            <img src="~/Content/img/tutorial/todo-4-3.png" />
                        </td>
                    </tr>
                </table>
                <table class="table hidden-lg hidden-md hidden-sm">
                    <tr>
                        <td>
                            <strong>1. Select the “Edit Week” dropdown on the desired week</strong>
                            <img src="~/Content/img/tutorial/todo-4-1.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>2.  Choose the In-Season or Off-season program</strong>
                            (You can switch at any time)
                            <img src="~/Content/img/tutorial/todo-4-2.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>3. Click the first option labeled “Start In-season” or “Start Off-season”.</strong>
                            <img src="~/Content/img/tutorial/todo-4-3.png" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer text-center">
                <p class="text-center">
                    That's all! We take care of the rest.
                </p>
                <button type="button" class="btn btn-primary" id="DoneDealBtn">Done deal.</button>
            </div>
        </div>
    </div>
</div>