<script>
    $(function () {
        $("#AddPlayersButton").wrap("<div class='tutorial-highlight left'></div>");
    });
</script>

<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; top: 200px; left : 40%">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <strong>Click Add Players</strong>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok.</button>
            </div>
        </div>
    </div>
</div>