<div class="modal fade " id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <h1>EQUIPMENT LOG</h1>
                <p><strong>We don't do generic</strong></p>
                <p>
                    Our training programs are tailored specifically to your gym. Tell us what equipment you have and we will create a custom program designed to maximize your space. 
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Let’s do this.</button>
            </div>
        </div>
    </div>
</div>