<script>
    $("#ViewWorkout").wrap("<div class='tutorial-highlight left little-top'></div>");
</script>
<div class="modal fade" id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: fixed; top: 350px; left : 40%">
        <div class="modal-content tutorial-wrapper">
            <div class="modal-body">
                <h1>VIEW WORKOUT</h1>
                
                <p>
                Now workouts ara available evenry Sunday
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Check it out</button>
            </div>
        </div>
    </div>
</div>