<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="platformAthletic.Model.Properties.Settings.platformAthleticConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=platformAthletic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platformAthleticConnectionString1"
            connectionString="Data Source=SATURN-PC;Initial Catalog=platformAthletic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platformAthletic_workConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=platformAthletic_work;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platformathleticsConnectionString"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=platformathletics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platform2014_mainConnectionString"
            connectionString="Data Source=WORKER\MSSQL;Initial Catalog=platform2014_main;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platform_dataConnectionString"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=platform_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platform2015_currentConnectionString"
            connectionString="Data Source=WORKER\MSSQL;Initial Catalog=platform2015_current;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platform_big_dataConnectionString"
            connectionString="Data Source=WORKER\MSSQL;Initial Catalog=platform_big_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.platform_big_dataConnectionString1"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=platform_big_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings.new_plt4mConnectionString"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=new_plt4m;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platformAthletic.Model.Properties.Settings._1gb_platformConnectionString"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=1gb_platform;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>