@model platformAthletic.Models.Info.FilterCustomAttendanceReport
<script type="text/javascript">
    /*google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        attendanceReport.loadChart();
    }*/
</script>

<div class="separate-line"></div>
<div class="chart-wrp clear">
    <div class="chart" id="mainChart">
        CHART
    </div>
    <div class="menu-list">
        <div class="item current">Attendance Report</div>
        <div class="item">@Model.SelectListType.FirstOrDefault(p => p.Selected).Text</div>
        <div class="item">@Model.BeginDate.ToString("d")</div>
        <div class="item">@Model.EndDate.ToString("d")</div>
    </div>
    <div class="print-wrp" id="PrintButton">
        <div class="icon-print"></div>
        <a class="link-button primaryColorBg" href="#">Print</a>
    </div>
</div>
