
<ul class="cms-menu">
    <li>
        <a href="/cms">Home</a>
    </li>
    <li>
        <a href="/cms/who-we-are">Who We Are</a>
    </li>
    <li>
        <a href="/cms/what-we-do">What We Do</a>
    </li>
    <li>
        <a href="/cms/join-us">Join Us	</a>
    </li>

    @*<li>
        <a href="/cms/contact-us">Contact Us</a>
    </li>*@
    <li>
        <a href="/cms/team-register">Team register	</a>
    </li>
    <li>
        <a href="/cms/individual-register">Individual register	</a>
    </li>

    @*<li>
        <a href="/cms/post-register">Post register</a>
    </li>*@
    <li>
        <a href="/admin">Admin Panel</a>
    </li>
    <li>
        <a href="/">Site</a>
    </li>
</ul>
