@{
    //Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    if (HttpContext.Current.User.ToString() != "anonym") 
    { 
        Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    } else {
        Layout = "~/Areas/Default/Views/Shared/_BootstrapLayoutNoSide.cshtml";
    }
    ViewBag.Title = "Page not found";
}
<div class="side-body">
    <div class="page-not-found-container">
        <img src="~/Content/img/error/page_not_found.png">
        <a href="/">BACK TO HOME</a>
    </div>
</div>