<a class="menu-item" href="/">Home</a>
<a class="menu-item" href="/who-we-are">Who We Are</a>
<a class="menu-item" href="/what-we-do">What We Do</a>
<a class="menu-item" href="/join-us">Join Us</a>
<a class="menu-item" href="/contact-us">Contact Us</a>