<menu class="top-menu">
    <div class="menu-background"></div>
    <div class="position-relative">
        <ul>
            <li>
                <a  href="/">Home<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/who-we-are">Who We Are<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/what-we-do">What We Do<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/join-us">Join Us	<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/contact-us">Contact Us<img src="/Media/images/marr.png"></a>
            </li>
        </ul>
         
    </div>

</menu>