<h1>Settings </h1>
<ul class="nav">
    <li class="open">
        <a href="/settings">Settings and Info</a>
    </li>
    <li>
        <a href="/settings">Equipment Log</a>
    </li>
    <li>
        <a href="/settings">Billing</a>
    </li>
</ul>