@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<ul class="dropdown-menu" role="menu">

    @if (currentUser.InRoles("player,individual")) 
    { 
        <li><a href="/User/@currentUser.ID">My Account</a></li>
    }
    @if (currentUser.InRoles("coach,individual"))
    {
        <li><a href="/Settings">Settings</a></li>
        <li><a href="/Billing">Billing</a></li>
    }
    <li><a href="/Privacy-policy">Privacy Policy</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>