@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<ul class="dropdown-menu" role="menu">
    @if (currentUser.InRoles("coach")) 
    {
        <li><a href="/settings">Settings</a></li>
        <li><a href="/manage-coaches">Manage Coaches</a></li>
        <li><a href="/manage-players">Manage Players</a></li>
        <li><a href="/equipment">Equipment Log</a></li>
        <li><a href="/billing">Billing</a></li>
    }
    @if (currentUser.InRoles("assistant"))
    {
        <li><a href="/settings">Settings</a></li>
        <li><a href="/equipment">Equipment Log</a></li>
    }
    @if (currentUser.InRoles("player"))
    {
        <li><a href="/my-page">Account</a></li>
        <li><a href="/settings">Settings</a></li>
    }
    @if (currentUser.InRoles("individual")) {
        <li><a href="/my-page">Account</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/equipment">Equipment Log</a></li>
        <li><a href="/billing">Billing</a></li>
    }
    <li><a href="/logout">Logout</a></li>
</ul>
