@model IEnumerable<platformAthletic.Model.UserPillar>

<div class="board-header primaryColorBg">
    <div class="title">The Pillars</div>
</div>
<div class="board-content">
    @foreach (var userPillar in Model)
    {
        <div class="board-item">
            <div class="name">@userPillar.PillarType.Name.ToUpper()</div>
            <div class="date">@(userPillar.AddedDate.HasValue ? userPillar.AddedDate.Value.ToString("d") : "")</div>
            <div class="value">@userPillar.TextValue</div>
        </div>
    }
</div>
