<div class="modal fade" id="modalCancelAutoDebit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CANCEL AUTO DEBIT</h4>
            </div>
            <div class="modal-body">
               <p>
                   Are you sure you want to cancel your Auto-Debit?
               </p>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" id="SubmitConfirmAutoDebit">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>