@model platformAthletic.Model.PillarType
@{
    ViewBag.Title = "Videos";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@section header
{
    <script type="text/javascript" src="/Media/scripts/default/video.js"></script>
}
<div class="video-wrp all-transparent-wrp clear">
    <div class="left" id="VideoMenuWrapper">
        @Html.Action("VideoMenu", "Video", new { SortType = 2 })
    </div>
    <div class="right" id="VideoWrapper">
        @Html.Action("PillarVideo", "Video", new { id = Model.ID })
    </div>
</div>
