@model platformAthletic.Model.User
@{
    ViewBag.Title = "Choose your season";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@section header
{
    <link href="@Url.Content("/Media/css/datepicker.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("/Media/scripts/jquery-ui-1.8.14.custom.min.js")" type="text/javascript"></script>
    <script src="/Media/scripts/default/select-season.js" type="text/javascript"></script>
}

<div class="all-content-wrp choose-season-wrp">
    <div class="title">
        <h1>Choose your season</h1>
    </div>
    @using (Html.BeginForm("SelectSeason", "Account", FormMethod.Post, new { id = "SelectSeasonForm" }))
    {
        @Html.Hidden("SeasonID", "")
        @Html.Hidden("StartDay", "")
    }
    <div class="all-content">
        <div class="top-blur-shape"></div>
        <div class="all-inner-content clear">
            <div class="sub-title">
                <h4>Thank you for your payment and welcome to THE PLATFORM!</h4>
            </div>
            <div class="clear">
                <div class="left-side">
                    @if (Model.InRoles("coach"))
                    {
                        <div class="text">

                            <span class="black-text">IN-SEASON PROGRAM.</span>
                            Choose this option if you are currently in-season. 
                        The date you select below should be the week in which you wish 
                        to begin the lifting program. 
                        Before you begin the program, you will need your players maxes 
                        in Squat, Bench, and Clean. If you do not have these, choose 
                        a date one week in advance to give yourself time to test your players.
                        You can then access our "Max Test" sheet in the "Getting Started"
                         guide. Give yourself 2-5 days to complete the Max Tests.
                        </div>
                    }
                    else
                    {
                        <div class="text">
                            <span class="black-text">IN-SEASON TRAINING.</span>
                            Choose this option if you are currently in-season. The date you select below should
                            be the week in which you wish to begin the lifting program. Before you begin the
                            program, you will need your maxes in Squat, Bench, and Clean. If you do not have
                            these, choose a date one week in advance to give yourself time to test. You can
                            then access our "Max Test" sheet in the "Getting Started" guide. Give yourself 2-5
                            days to complete the Max Tests.
                        </div>
                    }
                    <div class="datepicker-wrp">
                        <div class="datepicker-button text-shadow">
                            Choose Season Start Date<input type="hidden"
                                id="start_in_season_datepicker" />
                        </div>
                    </div>
                    <div class="push-date"></div>
                </div>
                <div class="right-side">
                    @if (Model.InRoles("coach"))
                    {
                        <div class="text">
                            <span class="black-text">OFF-SEASON PROGRAM.</span>
                            Choose this option if you are currently in the off-season.
                         The date you select below should be the week in which you wish to 
                         begin the lifting program. Before you begin the program, you will
                         need your players maxes in Squat, Bench, and Clean. If you do not 
                         have these, choose a date one week in advance to give yourself time 
                         to test your players. You can then access our "Max Test" sheet in
                         the "Getting Started" guide. Give yourself 2-5 days to complete
                         the Max Tests.
                        </div>
                    }
                    else
                    {
                        <div class="text">
                            <span class="black-text">OFF-SEASON TRAINING.</span>
                            Choose this option if you are currently in the off-season. The date you select below
                            should be the week in which you wish to begin the lifting program. Before you begin
                            the program, you will need your maxes in Squat, Bench, and Clean. If you do not
                            have these, choose a date one week in advance to give yourself time to test. You
                            can then access our "Max Test" sheet in the "Getting Started" guide. Give yourself
                            2-5 days to complete the Max Tests.
                        </div>
                    }
                    <div class="datepicker-wrp">
                        <div class="datepicker-button text-shadow">
                            Choose Season Start Date<input type="hidden"
                                id="start_off_season_datepicker" />
                        </div>
                    </div>
                    <div class="push-date"></div>
                </div>
            </div>
            <div class="clear" id="ConfirmPanel" style="display: none;">
                <div class="season-status-line">
                    YOUR <span id="SeasonType">IN-SEASON</span> TRAINING WILL START AS OF:  <span id="StartDateText">
                        12/12/2012</span>
                </div>
                <button class="btn-confirm" id="ConfirmSeasonDate">Confirm</button>
            </div>
        </div>
        <div class="bottom-blur-shape"></div>
    </div>
    <div class="all-content-button clear">
        <div class="back-button">
            <button class="btn-back" id="buttonBack">Back</button>
        </div>
        <div class="confirm-button">
            <button class="btn-confirm-next" id="buttonConfirm" style="display: none;">Confirm Training</button>
        </div>
    </div>
</div>
