@model platformAthletic.Model.User
@{
    ViewBag.Title = "Thank you!";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
}

@section header {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Scripts/default/thanks.js"></script>
}
<div class="container-fluid">
    <div class="side-body">
        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/thanks">Thank you</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>