@model SchoolRankInfo
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-default no-padding no-margin-top">
                <div class="panel-body">
                    <div class="panel-body">
                        <h3 class="text-center hidden-xs">How does your total progress <br />stack up at your school?</h3>
                        <div class="progress-rank">
                            <h2>PROGRESS RANK <span>@Model.School.Total.ToString("D2")</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>