<div class="popup-roster-wrp">
    <div class="inner-wrp">
        <div class="popup-title">Add a Player</div>
            <div class="form">
                <div class="bg-blur-top"></div>
                <div class="item-input max-players">
                    Player max reached. Contact support to increase your player limit. 855-862-5502.
                </div>
                <div class="bg-blur-bottom"></div>
            </div>
            <div class="button-wrp">
                <button class="btn-gray">Close</button>
            </div>
    </div>
</div>
