@model platformAthletic.Model.User


<div class="all-content-wrp set-color-wrp">
    <input id="primaryColor" name="primaryColor" type="hidden" value="@Model.RealPrimaryColor" />
    <input id="secondaryColor" name="primatyColor" type="hidden" value="@Model.RealSecondaryColor" />
    <div class="title">
        <h1>Set Your Website's colors:</h1>
    </div>
    <div class="all-content set-color-content">
        <div class="top-blur-shape"></div>
        <div class="all-inner-content set-color-inner-content clear">
            <div class="color-picker-wrp">
                <div class="title">
                    Primary Color
                </div>
                <div class="color-image">
                    <img src="/Media/images/color_picker_img.png" id="primary_color" alt="color picker" data-color="@Model.RealPrimaryColor" />
                </div>
            </div>
            <div class="right-color-picker-wrp color-picker-wrp">
                <div class="title">
                    Secondary Color
                </div>
                <div class="color-image">
                    <img src="/Media/images/color_picker_img.png" id="secondary_color" alt="color picker" data-color="@Model.RealPrimaryColor" />
                </div>
            </div>
        </div>
        <div class="bottom-blur-shape"></div>
    </div>
    <div class="all-content-button set-color-button-wrp clear">
        <div class="back-button">
            <button class="btn-gray" id="buttonBack">Back</button></div>
        <div class="next-button">
            <button class="btn-active primaryColorBg" id="buttonNext">Next</button>
        </div>
    </div>
</div>
