@model platformAthletic.Model.Team

@{
    ViewBag.Title = "Settings";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@section header {
    <script type="text/javascript" src="/Media/scripts/default/settings.js"></script>
}

<div class="equipment-wrp account-wrp clear">
    <div class="left">
        <div class="menu all-content-wrp">
            <div class="item"><a href="/account">Basic Information</a></div>
            <div class="item selected"><a href="/settings">Settings</a></div>
            <div class="item"><a href="/change-password">Change password</a></div>
            <div class="item"><a href="/billing">Billing</a></div>
            <div class="item"><a href="/equipment">Equipment Log</a></div>
            <div class="item"><a href="/manage-players">Manage Players</a></div>
        </div>
    </div>
    <div class="right">
        <div class="top all-content-wrp">
            <h1>SETTINGS</h1>
        </div>
        <div class="bottom all-transparent-wrp manage-player">
            <div class="top-content settings-maxes">
                <div class="item">
                    Control of Maxes: 
                </div>
                <div class="item">
                    <div class="radio @(Model.SBCControl == (int)platformAthletic.Model.Team.SBCControlType.Coach ? "selected" : "")" data-type="@((int)platformAthletic.Model.Team.SBCControlType.Coach)"></div>
                    <div class="label">Coach</div>
                </div>
                <div class="item">
                    <div class="radio @(Model.SBCControl == (int)platformAthletic.Model.Team.SBCControlType.CoachAndPlayer ? "selected" : "")" data-type="@((int)platformAthletic.Model.Team.SBCControlType.CoachAndPlayer)"></div>
                    <div class="label">Coach And Player</div>
                </div>

            </div>
        </div>
    </div>
</div>
