@{
    ViewBag.Title = "Subscription";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}


 <div class="all-content-wrp individual-thank-wrp">
        <div class="title">
            <h1>Sorry, your subscription is currently not active. Please contact your coach or administrator.</h1>
        </div>
    </div>
