@model platformAthletic.Models.ViewModels.User.ForgotPasswordView
@{
    ViewBag.Title = "Password recovery";
    Layout = "~/Areas/Default/Views/Shared/_CmsLayoutInner.cshtml";
}

<div class="login-wrapper">
    <h2>Please enter email</h2>
    <div class="block-wrapper center">
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form-group">
                <label>Email</label>
                @Html.TextBox("Email", Model.Email)

                <div class="warning">@Html.ValidationMessage("Email")</div>
            </div>

            <div class="btn-wrapper">
                <button class="submit">Submit</button>
            </div>
        }
    </div>
</div>
