@model platformAthletic.Models.ViewModels.User.ForgotPasswordView
@{
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayoutNoSide.cshtml";
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="side-body">

        <div class="col-lg-8 col-lg-offset-2 form-register-wrapper">
            <h1>Please enter email</h1>
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form" }))
            {
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="School"><span class="required">*</span>Email</label>
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessage("Email")
                        </div>

                        <div class="form-group text-center margin-top">
                            <button class="btn btn-primary btn-lg">Submit </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>