@model platformAthletic.Models.ViewModels.LoginViewModel
@{
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayoutNoSide.cshtml";
    ViewBag.Title = "Forgot password";
}

<div class="container">
    <div class="side-body">
        <div class="col-lg-8 col-lg-offset-2 form-register-wrapper">
            <h1>Please enter email</h1>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form LoginForm" }))
            {
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="School"><span class="required">*</span>Email</label>
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessage("Email")
                        </div>

                        <div class="form-group">
                            <label for="Password"><span class="required">*</span>Password</label>
                            @Html.Password("Password", Model.Password, new { @class = "form-control" })
                            @Html.ValidationMessage("Password")
                        </div>
                        <div class="form-group text-center margin-top">
                            <button class="btn btn-primary btn-lg">Login</button>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <a href="/forgot-password">Forgot your password?</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
