<div class="current-date-time-wrapper">
    <div class="datepicker-button date-time">
        @Html.TextBox("currentDate", @DateTime.Now.Current().ToString("MM/dd/yyyy"), new {@class="form-control" })
    </div>
</div>