@{
    ViewBag.Title = "Privacy";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

<div class="container-fluid">
    <div class="@(currentUser != null? "side-body": "")">

        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/privacy">Privacy policy</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-12">
                    <p></p>
                    <p class="big-text">
                        Your privacy is important to Platform Athletics, LLC. So we’ve developed a Privacy Policy that covers how we collect, use, disclose, transfer, and store your information. Please take a moment to familiarize yourself with our privacy practices and <a href="/contact-us">let us know</a> if you have any questions.
                    </p>
                    <h1>Collection and Use of Personal Information</h1>
                    <p>
                        Personal information is data that can be used to uniquely identify or contact a single person.
                        You may be asked to provide your personal information anytime you are in contact with Platform Athletics, LLC or an <a href="/">Platform Athletics, LLC affiliated company</a>. Platform Athletics, LLC and its affiliates may share this personal information with each other and use it consistent with this Privacy Policy. They may also combine it with other information to provide and improve our products, services, content, and advertising.
                        Here are some examples of the types of personal information Platform Athletics, LLC may collect and how we may use it.
                    </p>
                    <p>
                        <strong>    What personal information we collect</strong>
                    </p>
                    <p class="shifted">
                        §  When you create an Platform Athletics, LLC account, sign-up players, purchase a product, or participate in an online survey, we may collect a variety of information, including but not limited to your name, mailing address, phone number, email address, contact preferences, age, date of birth, school, state, sport, position, and credit card information.
                    </p>
                    <p class="shifted">
                        §  When you share your content with others, or invite others to join you on Platform Athletics, LLC, Platform Athletics, LLC may collect the information you provide about those people such as name, mailing address, email address, and phone number.
                    </p>
                    <p>
                        <strong>  How we use your personal information</strong>
                    </p>
                    <p class="shifted">
                        §  The personal information we collect allows us to keep you posted on Platform Athletics, LLC’s latest product announcements, website updates, and upcoming events. It also helps us to improve our services, content, and advertising.
                    </p>
                    <p class="shifted">
                        §  We also use personal information to help us develop, deliver, and improve our products, services, content, and advertising.
                    </p>
                    <p class="shifted">
                        §  From time to time, we may use your personal information to send important notices, such as communications about purchases and changes to our terms, conditions, and policies. Because this information is important to your interaction with Platform Athletics, LLC, you may not opt out of receiving these communications.
                    </p>
                    <p class="shifted">
                        §  We may also use personal information for internal purposes such as auditing, data analysis, and research to improve Platform Athletics, LLC’s products, services, and customer communications.
                    </p>
                    <p class="shifted">
                        §  Personal Information filled in by athlete, along with all other material displayed on My Page, including but not limited to, Leaderboard ranks, Workouts Completed, and Uploaded Videos, can be displayed by Platform Athletics, LLC in accordance with athlete’s settings. As a user of Platform Athletics, LLC, athletes have the ability and acknowledge the capacity to adjust their privacy settings in accordance with their wishes.
                    </p>
                    <p class="shifted">
                        § If you enter into a sweepstake, contest, or similar promotion we may use the information you provide to administer those programs.
                    </p>
                    <h2>Collection and Use of Non-Personal Information</h2>
                    <p>
                        We also collect non-personal information − data in a form that does not permit direct association with any specific individual. We may collect, use, transfer, and disclose non-personal information for any purpose. The following are some examples of non-personal information that we collect and how we may use it:
                    </p>
                    <p class="shifted">
                        §  We may collect information such as organization affiliation, zip code, area code, location, and the time zone where an Platform Athletics, LLC product is used so that we can better understand customer behavior and improve our products, services, and advertising.
                    </p>
                    <p class="shifted">
                        §  We also may collect information regarding customer activities on our website, and from our other products and services. This information is aggregated and used to help us provide more useful information to our customers and to understand which parts of our website, products, and services are of most interest. Aggregated data is considered non-personal information for the purposes of this Privacy Policy.
                    </p>
                    <p class="shifted">
                        §  We also collect data on exercise results including, but not limited to, Squat, Bench, and Clean results. We may display these numbers along with the participants name on our National, State, and Team Leaderboard. This feature may not be opted out of. Participants of Team subscriptions may also have their exercise results shown on the Team’s home page and have their name link to their personal My Page. This feature may not be opted out of.
                    </p>
                    <p>
                        If we do combine non-personal information with personal information the combined information will be treated as personal information for as long as it remains combined.
                    </p>
                    <h2>
                        Cookies and Other Technologies
                    </h2>
                    <p>
                        Platform Athletics, LLC’s website, online services, interactive applications, email messages, and advertisements may use “cookies” and other technologies such as pixel tags and web beacons. These technologies help us better understand user behavior, tell us which parts of our website people have visited, and facilitate and measure the effectiveness of advertisements and web searches. We treat information collected by cookies and other technologies as non-personal information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are considered personal information by local law, we also treat these identifiers as personal information. Similarly, to the extent that non-personal information is combined with personal information, we treat the combined information as personal information for the purposes of this Privacy Policy.
                    </p>
                    <p>
                        Platform Athletics, LLC and its partners use cookies and other technologies in mobile advertising services to control the number of times you see a given ad, deliver ads that relate to your interests, and measure the effectiveness of ad campaigns. Platform Athletics, LLC and our partners also use cookies and other technologies to remember personal information when you use our website, online services, and applications. Our goal in these cases is to make your experience with Platform Athletics, LLC more convenient and personal. If you want to disable cookies, check with your provider to find out how to disable cookies. Please note that certain features of the Platform Athletics, LLC website will not be available once cookies are disabled.
                    </p>
                    <p>
                        As is true of most websites, we gather some information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring and exit pages, operating system, date/time stamp, and clickstream data.
                    </p>
                    <p>
                        We use this information to understand and analyze trends, to administer the site, to learn about user behavior on the site, and to gather demographic information about our user base as a whole. Platform Athletics, LLC may use this information in our marketing and advertising services.
                    </p>
                    <p>
                        In some of our email messages, we use a “click-through URL” linked to content on the Platform Athletics, LLC website. When customers click one of these URLs, they pass through a separate web server before arriving at the destination page on our website. We track this click-through data to help us determine interest in particular topics and measure the effectiveness of our customer communications. If you prefer not to be tracked in this way, you should not click text or graphic links in the email messages.
                    </p>
                    <p>
                        Pixel tags enable us to send email messages in a format customers can read, and they tell us whether mail has been opened. We may use this information to reduce or eliminate messages sent to customers.
                    </p>
                    <h2>
                        Disclosure to Third Parties
                    </h2>

                    <p>
                        At times Platform Athletics, LLC may make certain personal information available to strategic partners that work with Platform Athletics, LLC to provide products and services, or that help Platform Athletics, LLC market to customers. For example, when you register for the website and enter in your equipment information you permit Platform Athletics, LLC to share this data with third parties to allow more accurate product offers and marketing. If you are approved for service, your account will be governed by Platform Athletics, LLC and its carrier’s respective privacy policies. Personal information will only be shared by Platform Athletics, LLC to provide or improve our products, services and advertising; it will not be shared with third parties for their marketing purposes.
                    </p>
                    <h4>
                        Service Providers
                    </h4>
                    <p>
                        Platform Athletics, LLC shares personal information with companies who provide services such as information processing, extending credit, fulfilling customer orders, delivering products to you, managing and enhancing customer data, providing customer service, assessing your interest in our products and services, and conducting customer research or satisfaction surveys. These companies are obligated to protect your information and may be located wherever Platform Athletics, LLC operates.
                    </p>
                    <h4>
                        Others
                    </h4>
                    <p>
                        It may be necessary − by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence − for Platform Athletics, LLC to disclose your personal information. We may also disclose information about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, disclosure is necessary or appropriate.
                        We may also disclose information about you if we determine that disclosure is reasonably necessary to enforce our terms and conditions or protect our operations or users. Additionally, in the event of a reorganization, merger, or sale we may transfer any and all personal information we collect to the relevant third party.
                    </p>
                    <h2>
                        Protection of Personal Information
                    </h2>
                    <p>
                        Platform Athletics, LLC takes precautions — including administrative, technical, and physical measures — to safeguard your personal information against loss, theft, and misuse, as well as against unauthorized access, disclosure, alteration, and destruction.
                    </p>
                    <p>
                        Platform Athletics, LLC uses Secure Sockets Layer (SSL) encryption on all web pages where personal information is collected. To make purchases from these services, you must use an SSL-enabled browser such as Safari, Firefox, or Internet Explorer. Doing so protects the confidentiality of your personal information while it’s transmitted over the Internet.
                    </p>
                    <p>
                        When you use some Platform Athletics, LLC products, services, or applications or post on a Platform Athletics, LLC forum, the personal information you share is visible to other users who share your account and can be read, collected, or used by them. You are responsible for the personal information you choose to submit in these instances. For example, if you list your name and email address in a forum posting, that information is available to all players and coaches with access to your account. Please take care when using these features.

                    </p>
                    <h2>
                        Integrity and Retention of Personal Information
                    </h2>
                    <p>
                        Platform Athletics, LLC makes it easy for you to keep your personal information accurate, complete, and up to date. We will retain your personal information for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.
                    </p>
                    <h2>
                        Access to Personal Information
                    </h2>

                    <p>
                        You can help ensure that your contact information and preferences are accurate, complete, and up to date by logging in to your account at <a href="/Settings">http://platformathletics.com/Settings</a>. For other personal information, we make good faith efforts to provide you with access so you can request that we correct the data if it is inaccurate or delete the data if Platform Athletics, LLC is not required to retain it by law or for legitimate business purposes. We may decline to process requests that are unreasonably repetitive, require disproportionate technical effort, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local law. Access, correction, or deletion requests can be made by contacting Platform Athletics, LLC directly via the phone number and/or email listed on the site under the Contact us tab.
                    </p>
                    <h2>
                        Children
                    </h2>
                    <p>
                        We do not knowingly collect personal information from children under 13. If we learn that we have collected the personal information of a child under 13 we will take steps to delete the information as soon as possible.
                    </p>
                    <h2>
                        Third-Party Sites and Services
                    </h2>
                    <p>
                        Platform Athletics, LLC websites, products, applications, and services may contain links to third-party websites, products, and services. Our products and services may also use or offer products or services from third parties − for example, a third-party piece of equipment. Information collected by third parties, which may include such things as location data or contact details, is governed by their privacy practices. We encourage you to learn about the privacy practices of those third parties.
                    </p>
                    <h2>
                        Our Companywide Commitment to Your Privacy
                    </h2>
                    <p>
                        To make sure your personal information is secure, we communicate our privacy and security guidelines to Platform Athletics, LLC employees and strictly enforce privacy safeguards within the company.
                    </p>
                    <h2>
                        Privacy Questions
                    </h2>
                    <p>
                        If you have any questions or concerns about Platform Athletics, LLC’s Privacy Policy or data processing, please contact us at (855) 862-5502 or support@platformathletics.com.
                        Platform Athletics, LLC may update its Privacy Policy from time to time. When we change the policy in a material way, a notice will be posted on our website along with the updated Privacy Policy.
                    </p>
                    <p>Platform Athletics, LLC 815 Boston Post Rd Unit B, Weston MA 02493</p>
                    <p>
                        <i>
                            Last updated: December 27, 2012
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
