@{
    ViewBag.Title = "Term and Condition";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="container-fluid">
    <div class="@(currentUser != null? "side-body": "")">

        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/term-and-condition">Term and Condition</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-12">

                    <h1>Term and Condition</h1>
                    <p>
                        These Terms and Conditions constitute an agreement ("Agreement") between
                        you ("you", "your", "user" or "Customer") Platform Athletics, LLC ("Platform Athletics,
                        LLC", “Platform”, “PLT4M”, "us", "we" or "our") for web-based exercise training services and any related products or services ("Services"). This Agreement governs both the Services and any product used in connection with the Services. Any of the following actions constitute your agreement, without limitation or qualification, to be bound by, and to comply with, the terms of this Agreement: (i) your initialization or registration of the Services, either on the telephone or through our website (platformathletics.com)

                    </p>
                    <p>
                        By agreeing to the following terms and conditions, I agree to accept full legal responsibility for all who use my subscription (The Participants) to the site (Platform Athletics), whether I have given them intentional access or not. If any participants can be considered minor children, and access the site and program through my subscription, I accept full legal responsibility for their actions. By subscribing, I have assumed all of the following risk, and waive any and all liability from the service (Platform Athletics.)

                    </p>
                    <p>
                        <strong> Express assumption of risk:</strong>

                    </p>
                    <p>
                        I, the one who accepts these terms, am aware there are significant risks involved
                        in all aspects of physical training. These risks include, but are not limited
                        to: falls which can result in serious injury or death, injury or death due to
                        negligence on the part of myself, my training participants, or other people
                        around me, injury or death due to improper use or failure of equipment. I am
                        aware that any of these above mentioned risks may result in serious injury or
                        death to myself and or those I am responsible for.

                    </p>
                    <p>
                        I willingly assume full responsibility for the risks that I am exposing myself
                        and those I give access to this site to and accept full responsibility for any
                        injury or death that may result from participation in any activity or exercise
                        as a part of this program. I acknowledge that I, nor any of my participants,
                        have any physical impairments or illnesses that will endanger myself or others.

                    </p>
                    <p>
                        <strong> Release:</strong><br />
                        In consideration of the above mentioned risks and hazards and in consideration of
                        the fact that I, and all of my participants, are willingly and voluntarily
                        participating in the activities promoted by Platform Athletics, I hereby
                        release Platform Athletics, their principals, agents, employees, and volunteers
                        from any and all liability, claims, demands, actions, or rights of action,
                        which are related to, arise out of, or are in any way connected with our
                        participation in this program, including those allegedly attributed to the
                        negligent acts, statements, suggestions, or omissions of the above mentioned
                        parties.
                    </p>
                    <p>
                        This agreement shall be binding upon me, my successors, representatives, heirs,
                        executors, assigns, or transferees. If any portion of this agreement is held
                        invalid, I agree that the agreement shall remain in full legal force and effect.

                    </p>
                    <p>
                        TERMS AND
                        CONDITIONS:

                    </p>
                    <p>
                        <strong>1. Ownership.</strong>  All Materials (defined below), Services, Accounts and content, including but not limited to policy information, text, software, music, sound, photographs, video, graphics, the arrangement of text and images, commercially produced information, and other material contained on the Site or through the Services ("Content"), are provided by Platform Athletics unless indicated otherwise. All intellectual property rights in the Materials, Content, Services and Accounts (including copyrights, trademarks, service marks, trade secrets and patents) are the property of Platform Athletics. Platform Athletics retains all copyrights in the individual pages, and their components, and collective works available at the Site.
                        The Materials, Content, Services and Accounts are copyrighted and are protected by
                        federal and worldwide copyright laws and treaty provisions. They may not be
                        copied, reproduced, modified, published, uploaded, posted, transmitted,
                        performed, or distributed in any way without Platform Athletics’ prior written
                        permission. Trademarks and copyrights including The Platform, are the property of Platform Athletics, LLC. All other names and trademarks are the property of their respective holders.

                    </p>
                    <p>
                        <strong>2. Single Copy License.</strong> You may download one copy of the materials (the "Materials") and/or Content found on this Site for use with the Services and/or Accounts. This is a license, not a transfer of title, and is subject to the following restrictions: unless you receive prior written consent from us and unless you receive any required regulatory approvals, you may not: (a) modify the Materials, Content, Services or Accounts or use them for any commercial purpose or any public display, performance, sale or rental; (b) decompile, reverse engineer, or disassemble software, Materials, Content, Services or Accounts; (c) remove any copyright or other proprietary notices from the Materials, Content, Services or Accounts; (d) unless otherwise provided herein, transfer or resell the Materials, Content, Services or your Account to another person. You agree to prevent any unauthorized copying of the Materials, Content, Services and Accounts.
                    </p>
                    <p>

                        <strong> 3. Term.</strong> The term of this Agreement begins on the date we activate Services for your Account. This Agreement will continue annually until terminated by either party pursuant to the terms hereof.

                    </p>
                    <p>
                        <strong> 4. Order Acceptance Policy.</strong> Your submission of your order on the Site or receipt of an email confirmation signifies acceptance by Platform Athletics of your order and the provision of your Account. Platform Athletics may verify orders to prevent fraud. Should Platform Athletics suspect the placement of a fraudulent order (even after you have received an email confirmation of acceptance of your order and the provision of your Account), Platform Athletics may contact you by email or telephone regarding such suspected fraudulent order and, in sole discretion, interrupt, restrict or terminate your Account without notice to you by Platform Athletics.
                    </p>
                    <p>
                        <strong>5. Use of Services and Account.</strong> You represent and warrant that you are at least 18 years of age or the applicable state age of majority and that you possess the legal right and ability to enter into this Agreement. If you are under the age of 18, you hereby swear that you have received the approval of your parent or legal guardian, that they have reviewed the Privacy policy and Terms and Conditions and by the action of your acceptance, they do hereby authorize you to use the services provided by Platform Athletics, LLC. You agree not to use the Materials, Content, Services and your Account for any unlawful or abusive purpose or in any way which interferes with our ability to provide Services to our customers, or damages our property.
                    </p>
                    <p>
                        If our Services or Accounts are fraudulently used, you agree to immediately notify us of such unauthorized use. We have the right to interrupt, restrict or
                        terminate Services to your Account, without notice to you, if we suspect fraudulent or abusive activity. You agree to cooperate with us in any fraud
                        investigation and to use any fraud prevention measures we prescribe. You agree to not share the information provided within our Services and take full responsibility for any party with whom you share this information.
                    </p>
                    <p>
                        <strong> 6. Charges.</strong> You are responsible for paying all charges to your Account for Services. Platform Athletics reserves the right to change its pricing and/or billing practices in its sole discretion. Platform Athletics may introduce new products and Services at special introductory pricing. Introductory pricing may change at discretion by Platform Athletics.
                    </p>
                    <p>
                        <strong> 7. Billing and Payment.</strong> Any applicable initiation fees and annual recurring charges are billed each year on the same month and day you signed up for Services. Unless otherwise agreed to in writing, you are to pay for all charges by credit or debit card, or check. Credit or debit cards will automatically be billed annually. You will advise us of any changes to your credit or debit card account, such as account number, billing address, or expiration date changes.
                    </p>
                    <p>
                        <strong> 8. Default/Termination. </strong>You may terminate this Agreement at any time with thirty (30) days notice in accordance with the immediately following procedure. You must give such notice of termination via email to <a href="mailto:support@platformathletics.com"> support@platformathletics.com</a> or by calling support at (855) 862-5502. if you do not receive a cancellation confirmation number, your termination notice may not have been received by us. you may contact our customer support department at (855) 862-5502 ext 2 to verify the generation of a cancellation confirmation number. your termination request will be fulfilled within 5 (five) business days. we may terminate this agreement at any time without notice as provided in section 25 herein. notwithstanding our "60 Day Risk Free Trial" as posted on the site, upon termination, and at our sole discretion, the fees for our services (e.g. the initial sign up charges) may be refunded to you. if you fail to pay any amount owed to us within 5 days after the due date, or if you have in the past failed to pay amounts due us or an affiliate of ours, or if you breach any representation to us or fail to perform any of the promises you have made in this agreement, or if you are subject to any proceeding under the bankruptcy act or similar laws, you will be in default and we may, in our sole discretion and with or without prior notice, restrict or terminate services and /or terminate this Agreement, in addition to all other remedies available to us.
                        Upon termination of this Agreement and/or your Services, your right to use the
                        Services immediately ceases. Upon termination, you are responsible for paying
                        all amounts and charges owing under this Agreement.
                        Should your credit or debit card decline for any reason, we will attempt to charge it
                        again as follows: 2nd attempt after 1 (one) day, 3rd attempt after 6 (six)
                        additional days, 4th attempt after 7(seven) additional days and 5th and final
                        attempt after 7 (seven ) more days. If the fifth attempt to bill your credit or
                        debit card is unsuccessful on the 21st (twenty-first) day, your account will be
                        terminated and we will notify you of such termination by email, by message sent
                        to your voicemail box, or by telephone.
                        Accounts will be terminated if we are not able to confirm an order by phone and do not
                        receive any replies from the account holder. A credit or debit card
                        authorization form will be required to reactivate such accounts.
                    </p>
                    <p>
                        <strong>9. Account Changes. </strong>You may change Service features or Service plans by notifying us in writing or by telephone.
                    </p>
                    <p>
                        <strong>10. Modification to Prices or Billing Terms.</strong> Platform Athletics reserves the right, at any time, to change its prices and billing methods for Materials, Content, Services and Accounts, effective immediately upon posting on the Site or by e-mail delivery to you.
                    </p>
                    <p>
                        <strong>11. Modification; Assignment.</strong> We may change or modify this Agreement from time to time, but any such change (a) will be made in good faith, and (b) if significant (as determined in the sole discretion of Platform Athletics), will only be made after first providing you with notice of the change. You can review the most current version of this Agreement at any time at our Site (Platform Athletics.com). If you do not agree to a significant change, you may terminate this Agreement by giving us written notice within 15 days of receipt of our notice of such significant change. No hand-marked changes on this Agreement or any amendment by you will be valid unless we accept the changes in writing. Delivery by facsimile transmission (fax) of a copy of a modification of this Agreement shall be effective as delivery of an original.
                    </p>
                    <p>
                        <strong>12. Assignment.</strong> We may assign all or part of our rights or duties under this Agreement in connection with a sale of all or substantially all the assets of Platform Athletics to a third party without notice to you; provided any such third party shall be obliged to honor the terms of this Agreement. You may not assign this Agreement without our prior written consent.
                    </p>
                    <p>
                        <strong>13. NO WARRANTIES.</strong> THE MATERIALS, CONTENT, SERVICES AND ACCOUNTS ARE PROVIDED "AS IS." WE MAKE NO WARRANTIES REGARDING THE MATERIALS, CONTENT, SERVICES AND ACCOUNTS WHATSOEVER AND DISCLAIM ANY AND ALL EXPRESS OR IMPLIED WARRANTIES OF ANY KIND, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF INTELLECTUAL PROPERTY, FITNESS FOR A PARTICULAR PURPOSE, OR WARRANTIES ARISING BY COURSE OF DEALING OR CUSTOM OR TRADE. WE DO NOT AUTHORIZE ANYONE TO MAKE A WARRANTY OF ANY KIND ON OUR BEHALF AND YOU SHOULD NOT RELY ON ANY SUCH STATEMENT. THIS PARAGRAPH SHALL SURVIVE TERMINATION OF THIS AGREEMENT. Some jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions, the foregoing disclaimers may not apply to you insofar as they relate to implied warranties. If you rely on the representations or warranties of any third persons with respect to the Services (including without limitation by dealers or resellers of the Services) beyond those made by Platform Athletics, your sole remedy for such reliance is against the third person making such representation or warranty.
                    </p>
                    <p>
                        <strong>
                            14. LIMITATION OF LIABILITY.
                        </strong> IN NO EVENT SHALL PLATFORM ATHLETICS, ITS PARENTS, SUBSIDIARIES, AFFILIATES AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER BE LIABLE FOR ANY DAMAGES, INCLUDING BUT NOT LIMITED TO DIRECT, COMPENSATORY, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR INJURY, DEATH, LOSS OF INFORMATION) ARISING OUT OF OR RELATING TO (i) YOUR INABILITY TO USE THE MATERIALS, CONTENT, SERVICES OR ACCOUNTS; (ii) YOUR MISUSE OF THE MATERIALS, CONTENT, SERVICES OR ACCOUNTS; (iii) NONPERFORMANCE OR A FAILURE OF THE SERVICES CAUSED BY ACTS OR OMISSIONS OF ANOTHER SERVICE PROVIDER, (iv) EQUIPMENT OR SOFTWARE FAILURE OR MODIFICATION; (v) TELECOMMUNICATIONS OR COMPUTER EQUIPMENT FAILURES, OR (vi) ACTS OF GOD, OR OTHER CAUSES BEYOND OUR REASONABLE CONTROL. THE FOREGOING SHALL APPLY EVEN IF PLATFORM ATHLETICS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. PLATFORM ATHLETICS ALSO MAKES NO REPRESENTATIONS OR WARRANTIES THAT YOUR ACCESS TO AND USE OF THE SITE, MATERIALS, CONTENT, SERVICES AND ACCOUNTS (1) WILL BE UNINTERRUPTED OR ERROR FREE; (2) IS FREE OF VIRUSES, UNAUTHORIZED CODE, OR OTHER HARMFUL COMPONENTS; (3) IS SECURE; OR (4) WILL MEET YOUR SATISFACTION. YOU ARE RESPONSIBLE FOR TAKING ALL PRECAUTIONS YOU BELIEVE NECESSARY OR ADVISABLE TO PROTECT YOU AGAINST ANY CLAIM, DAMAGE, LOSS OR HAZARD THAT MAY ARISE BY VIRTUE OF YOUR USE OF THE SITE, MATERIALS, CONTENT, SERVICES AND ACCOUNT. IN NO EVENT SHALL PLATFORM ATHLETICS, ITS PARENTS, SUBSIDIARIES, AFFILIATES AND
                        THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES,
                        STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER BE LIABLE FOR INJURIES TO
                        PERSONS OR PROPERTY ARISING FROM USE OF THE SERVICES, OR ANY EQUIPMENT USED IN CONNECTION WITH THE SERVICES. IF, NOTWITHSTANDING THE OTHER TERMS OF THIS AGREEMENT, PLATFORM ATHLETICS SHOULD HAVE ANY LIABILITY TO YOU OR ANY THIRD PARTY FOR ANY LOSS, HARM OR DAMAGE, YOU AND PLATFORM ATHLETICS AGREE THAT IN NO EVENT SHALL LIABILITY OF PLATFORM
                        ATHLETICS TO YOU FOR ANY REASON EXCEED OUR SERVICE CHARGES DURING THE AFFECTED PERIOD GIVING RISE TO SUCH LIABILITY. YOU AND PLATFORM ATHLETICS AGREE THAT THIS SECTION 14 OF THE AGREEMENT, "LIMITATION OF LIABILITY", IS AN AGREED ALLOCATION OF RISK BETWEEN YOU AND PLATFORM ATHLETICS. YOU ACKNOWLEDGE THAT, ABSENT YOUR AGREEMENT TO THIS LIMITATION OF LIABILITY, PLATFORM ATHLETICS WOULD NOT PROVIDE THE SITE, MATERIALS, CONTENT, SERVICES, OR ACCOUNTS TO YOU. THIS LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW AND SHALL SURVIVE TERMINATION OF THIS AGREEMENT.
                    </p>
                    <p>
                        <strong>
                            15. Indemnity.
                        </strong> YOU AGREE TO DEFEND, INDEMNIFY, AND HOLD HARMLESS PLATFORM ATHLETICS, ITS PARENTS, SUBSIDIARIES, AFFILIATES, AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER, HARMLESS FROM AND AGAINST ANY AND ALL CLAIMS, EXPENSES OR DAMAGES (INCLUDING ATTORNEYS' FEES), WHETHER KNOWN OR UNKNOWN, ARISING FROM, INCURRED AS A RESULT OF, OR IN ANY MANNER RELATED TO (A) YOUR USE OF THE SERVICES, (B) ANY OTHER PERSON'S USE OF ANY ACCOUNT YOU MAINTAIN, REGARDLESS OF WHETHER SUCH USE IS AUTHORIZED BY YOU, OR (C) YOUR PROMISES OR STATEMENTS MADE IN THIS AGREEMENT. YOU HEREBY AGREE TO WAIVE ALL LAWS THAT MAY LIMIT THE EFFECTIVENESS OF THE FOREGOING RELEASES. NOTWITHSTANDING THE FOREGOING, YOU SHALL NOT BE LIABLE FOR CLAIMS, EXPENSES OR DAMAGES ARISING FROM THE INTENTIONAL OR GROSSLY NEGLIGENT ACTS OF PLATFORM ATHLETICS OR ITS EMPLOYEES, AGENTS, CONTRACTORS OR REPRESENTATIVES. THIS INDEMNIFICATION SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW AND SHALL SURVIVE TERMINATION OF THIS AGREEMENT.
                        Furthermore, The subscriber and participants recognize that there is risk involved in the types of activities offered by Platform Athletics. Therefore, the subscriber and participants accept financial responsibility for any injury that they may cause either to themselves or to any other due to their negligence. Should the above mentioned parties, or anyone acting on their behalf, be required incur attorney’s fees and costs to enforce this agreement; I agree to reimburse them for such fees and costs. I further agree to indemnify and hold harmless Platform Athletics, their principals, agents, employees, and volunteers from liability for the injury or death of any person(s) and damage to property that may result from my negligent or intentional act or omission while participating in the activities offered by Platform Athletics.
                    </p>
                    <p>
                        <strong>
                            16. Force Majeure.
                        </strong>Either party shall be
                        excused from any delay or failure in performance hereunder, other than the
                        payment of moneys, caused by reason of occurrence or contingency beyond its
                        reasonable control, including without limitation, acts of God, earthquake,
                        fire, flooding, riots, terrorism, war or government requirements.
                    </p>
                    <p>
                        <strong>
                            17. Privacy.
                        </strong>Privacy Policy of
                        Platform Athletics is set forth on the Site (Platform Athletics.com). In
                        addition, you authorize our monitoring and recording of your calls to us
                        concerning your Account or the Services and you consent to our contacting you
                        from time to time by means of (a) automatic dialing equipment, or (b) your
                        Platform Athletics voicemail box, or (c) by the contact information you have
                        provided us with.
                    </p>
                    <p>
                        Platform Athletics may also monitor or record calls for troubleshooting and/or service
                        quality control checks required for the rendition of the services provided to
                        its customers.
                    </p>
                    <p>
                        <strong>
                            18. Cooperation With Government Authorities.
                        </strong> If necessary and in accordance with applicable law, Platform Athletics will cooperate with local, state, federal, international
                        and/or worldwide government authorities to protect this Site, Materials,
                        Content, Services, Accounts, visitors, customers, Platform Athletics, its
                        parents, subsidiaries, affiliates and their respective members, managers,
                        directors, officers, employees, stockholders and agents and operational
                        providers, from the unauthorized use of this Site, Materials, Content, Services
                        and Accounts.
                    </p>
                    <p>
                        <strong>
                            19. Links to Other Materials.
                        </strong> The linked sites are not necessarily under the control of
                        Platform Athletics and Platform Athletics is not responsible for the content of
                        any linked site or any link contained in a non-affiliated linked site. Platform
                        Athletics reserves the right to terminate any link or linking program at any
                        time. Platform Athletics has selected the links for your convenience. The
                        selection or omission of links is not intended to endorse any particular
                        companies or products. If you decide to access any of the third party sites
                        linked to this Site, you do so entirely at your own risk. Any links to any
                        portion of the Site shall be the responsibility of the linking party, and Platform
                        Athletics shall not be responsible for notification of any change in name or
                        location of any information on the Site.
                    </p>
                    <p>
                        <strong>
                            20. Dealings With Advertisers.
                        </strong> Your correspondence or business dealings with, or
                        participation in promotions of, advertisers found on or through this Site,
                        including payment and delivery of related goods or services, and any other
                        terms, conditions, warranties or representations associated with such dealings,
                        are solely between you and such advertiser. YOU AGREE THAT PLATFORM ATHLETICS,
                        ITS PARENTS, SUBSIDIARIES, AFFILIATES AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER ARE NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS A RESULT OF ANY SUCH DEALINGS OR AS A RESULT OF SUCH ADVERTISERS ON THE SITE.
                    </p>
                    <p>
                        <strong>
                            21. Notices.
                        </strong> Except as otherwise provided in this Agreement, notices and other communications under this Agreement shall be in writing and shall be delivered, mailed by first-class mail, postage pre-paid or sent by facsimile or electronic mail, addressed, (a)
                        if to you, at the address as kept in our files or at such other address as you shall have furnished to us in writing, or (b) if to us at 815 Boston Post Rd Unit B Weston, MA 02493, attention Customer Support Department. Your notice must specify your name and Account. Each such notice, request or other communication shall be effective (i) if given by mail, 72 hours after such communication is deposited in the mails with first class postage prepaid, addressed as aforesaid, (ii) if sent by facsimile, when sent and receipt is
                        telephonically confirmed or (iii) if given by any other means (including, without limitation, by air courier), when delivered at the address specified above. Oral notices shall be deemed effective on the date reflected in our records.
                    </p>
                    <p>
                        <strong> 22. Governing Law.</strong> This Agreement shall be governed by and construed in accordance with the laws of the Commonwealth of Massachusetts, excluding that body of law applicable to conflicts of law.
                    </p>
                    <p>
                        <strong>
                            23. Jurisdiction and Venue.
                        </strong> You and Platform Athletics agree that any suit, action or
                        proceeding arising out of or relating to this Agreement shall be instituted
                        only in a Massachusetts state or federal court sitting in Boston,
                        Massachusetts, United States of America. You and Platform Athletics each waive
                        any objection you or Platform Athletics may have now or hereafter to the laying
                        of the venue of any such suit, action or proceeding, and irrevocably submit to
                        the jurisdiction of any such court in any such suit, action or proceeding.
                    </p>
                    <p>
                        <strong>
                            24. General Information.
                        </strong> If any part of this Agreement is held invalid or
                        unenforceable, that portion shall be construed to reflect the parties' original
                        intent, and the remaining portions shall remain in full force and effect.
                    </p>
                    <p>
                        <strong>
                            25. CPNI (Customer Proprietary Network Information)
                        </strong>
                        Compliance Platform Athletics collects information that is made
                        available to us solely by virtue of our relationship with Customers, such as
                        details regarding the Services purchased. This information and related billing
                        information is known as Customer Proprietary Network Information (CPNI).
                    </p>
                    <p>
                        Platform Athletics safeguards CPNI and complies with Federal Communications Commission (FCC) and other rules requiring Platform Athletics to protect Customer CPNI.
                        Platform Athletics will not disclose CPNI except in accordance with applicable
                        laws. For example, Platform Athletics will not share CPNI with authorized
                        companies if a Customer notifies Platform Athletics that its CPNI may not be
                        shared. Platform Athletics will not share CPNI with unrelated third parties. To
                        opt out of CPNI sharing, please contact Platform Athletics.
                    </p>
                    <p>
                        Platform Athletics will adopt further safeguards and comply with additional CPNI
                        requirements, including filing its annual CPNI Certification, as required by
                        law.
                    </p>
                    <p>
                        <strong>
                            26. Free Trial Period.
                        </strong> Platform Athletics may from time to time offer a free
                        trial period for different terms. All terms and conditions within this
                        agreement apply during the free trial period. If you fail to cancel your
                        account during the free trial period, your credit card will be charged for the
                        offer charge, the activation fee, and any charges you incurred during the trial
                        period (such as voice studio or other features), and any applicable taxes. If
                        you cancel your account prior to the expiration of the free trial period, your
                        credit card will not be charged. It is your responsibility to cancel your
                        account by contacting Platform Athletics. If you have signed up via the “Invoice
                        Billing” option, you must pay via check, credit card, or debit card within the
                        60 day period. If payment is not received Platform Athletics has the right to
                        freeze or shut down account.
                    </p>
                    <p>
                        <strong>
                            27. Gift Cards, Discount Cards, Partner Promotions and
                            Coupons.
                        </strong> Gift Cards, Discount Cards, Partner Promotions, Promo
                        Codes and Coupons have no cash value and are valid only for the purchase of a
                        new account from Platform Athletics. If you subscribe to Platform Athletics
                        Service using one of these methods we will still collect credit card and
                        billing information from you and your card will be charged when your Account
                        Charges exceed the discount value. This Charge will occur when the difference
                        between your Account Charges and the discount value exceeds your account’s
                        Threshold Amount or in the first regular billing cycle in which the difference
                        exceeds $0, whichever comes first.
                    </p>
                    <p>
                        You hereby consent to Platform Athletics publicizing the existence (but not the
                        terms) of the relationship contemplated hereunder as a part of promotional and
                        marketing activities from time to time by Platform Athletics. All discount
                        offers are for first year only and after first year of use of Services,
                        Services will renew at full price.
                    </p>
                    <p>
                        I have read and understand the foregoing assumption of risk, and
                        release of liability and I understand that by agreeing below it obligates me to
                        indemnify the parties named for any liability for injury or death of any person
                        and damage to property caused by my negligent or intentional act or omission. I
                        understand that by agreeing to this form I am waiving valuable legal rights.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>