@{
    ViewBag.Title = "Term and Condition";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="container-fluid">
    <div class="@(currentUser != null? "side-body": "")">

        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/term-and-condition">Term and Condition</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-12">

                    <h1>Term and Condition</h1>

                    <h1>Platform Athletics, LLC</h1>
                    <p class="important">Agreement – Terms and Conditions: </p>

                    <p class="important">
                        The Terms and Conditions constitute an agreement ("Agreement")
                        between you ("you", "your", "user" or "Customer") and Platform Athletics, LLC ("Platform
                        Athletics, LLC", “Platform”, "us", "we" or "our") for web-based exercise training
                        services and any related products or services ("Services"). This Agreement governs
                        both the Services and any product used in connection with the Services.
                    </p>

                    <p class="important">
                        Any of the following actions constitute your agreeing to this Agreement, without
                        limitation or qualification, and your acknowledgment to be bound by, and to comply
                        with, the terms of this Agreement: (i) your initialization; or (ii) your subscribing/registration
                        for Services, either on the telephone or through our website (platformathletics.com);
                        or (iii) your clicking “agree” on the website; or (iv) your written or verbal acknowledgment
                        and agreement to Services.
                    </p>

                    <p>
                        I agree to accept full legal responsibility for the use of the Services provided
                        and recommended
                        by Platform including entry to and use of the website, exercise plan designs, products
                        and related services as well as any and all proprietary logos, information, schedules.
                        I acknowledge that I am over the age of 18 and that I am of sound legal mind with
                        the authority to legally accept this Agreement.
                    </p>
                    <p>
                        I agree not to share Services with others; however I accept full responsibility
                        for its use,
                        whether the use of Services was intentionally or not. I understand that Services
                        are not for use by minors or others who do not have legal capacity to agree to the
                        Terms and Conditions herein.  If any Services are used or dispersed to those without
                        legal capacity I accept full responsibility including legal, financial, medical
                        or otherwise for the actions and consequences.
                    </p>
                    <p>
                        By subscribing, I acknowledge that I have read and agree to this Agreement in full.
                        I also
                        agree to assume all risk associated with Services.
                    </p>
                    <p>
                        I agree to waive any and all liability from the Service (Platform Athletics.)
                    </p>
                    <h2>1. RISK:</h2>
                    <p>
                        I am aware there are significant risks involved in all aspects of physical training
                        which may
                        be included in Services provided. I agree to accept responsibility for any consequences
                        and risks associated with the Services provided to me.
                    </p>
                    <p>
                        These risks include, but are not limited to: serious injury or death.  Injury can
                        be caused
                        by many factors and I agree to be fully responsible for all consequences of the
                        Service recommendations and training including participants, other people around,
                        negligence, improper use or failure of equipment.
                    </p>
                    <p>
                        I accept full responsibility for the risks that I am exposing myself (and those
                        I share my Services
                        with).
                    </p>
                    <p>
                        I acknowledge that it is my responsibility to consult with and gain permission from
                        my physician
                        before I participate in any physical activity or Services.
                    </p>
                    <p>
                        I understand that I am willingly and voluntarily participating in the Services promoted
                        by Platform
                        Athletics.
                    </p>
                    <h2>2. RELEASE:</h2>
                    <p>
                        I hereby release Platform Athletics, their principals, owners, agents, employees,
                        and volunteers
                        from any and all liability, claims, demands, actions, or rights of action, which
                        are related to, arise out of, or are in any way connected with my participation
                        in Services with Platform Athletics, including those allegedly attributed to the
                        negligent acts, statements, suggestions, or omissions.
                    </p>
                    <p>
                        I understand that this Agreement shall be binding upon me, my successors, representatives,
                        heirs,
                        executors, assigns, or transferees.  If any portion of this Agreement is held invalid,
                        I agree that the rest of the Agreement shall remain in full legal force and effect.
                    </p>
                    <h2>3. OWNERSHIP:</h2>
                    <p>
                        All Services, materials, accounts and content, including but not limited to program
                        designs,
                        recommendations, proprietary information, policy information, text, software, music,
                        sound, photographs, video, graphics, the arrangement of text and images, commercially
                        produced information, and other material contained on the website or through the
                        Services, are owned and provided by Platform Athletics unless indicated otherwise,
                        and may not be duplicated or used without express written permission from an authorized
                        Platform employee.
                    </p>
                    <p>
                        All intellectual property including copyrights, trademarks, service marks, trade
                        secrets and
                        patents are the property of Platform Athletics. Platform Athletics retains all copyrights
                        in the individual pages, and their components, and collective works available in
                        writing or on the website. Trademarks and copyrights including The Platform, are
                        the property of Platform Athletics, LLC that cannot be used without express written
                        authorization. All other names and trademarks are the property of their respective
                        holders.
                    </p>
                    <p>
                        All Services, materials, content, and accounts are copyrighted and are protected
                        by federal
                        and worldwide copyright laws and treaty provisions, and may not be copied, reproduced,
                        modified, published, uploaded, posted, transmitted, performed, or distributed in
                        any way without Platform Athletics’ prior express written permission.
                    </p>

                    <h2>4. Single Copy License. </h2>
                    <p>
                        You may download one copy of the materials (the "Materials") and/or Content found
                        on this Site
                        for use with the Services.  This is a license, not a transfer of title, and is subject
                        to the following restrictions: unless you receive prior written consent from us
                        and unless you receive any required regulatory approvals, you may not: (a) modify
                        the Materials, Content, Services or accounts or use them for any commercial purpose
                        or any public display, performance, sale or rental; (b) decompile, reverse engineer,
                        or disassemble software, Materials, Content, Services or accounts; (c) remove any
                        copyright or other proprietary notices from the Materials, Content, Services or
                        accounts; (d) unless otherwise provided herein, transfer or resell the Materials,
                        Content, Services or your account to another person. You agree to prevent any unauthorized
                        copying of the Materials, Content, Services and accounts.
                    </p>
                    <h2>5. Term. </h2>
                    <p>
                        The term of this Agreement begins on the date we activate Services for your account.
                        This Agreement
                        will renew annually on your anniversary date (which is the date your account is
                        activated) until terminated by either party pursuant to the terms herein.
                    </p>
                    <h2>6. Order Acceptance Policy. </h2>
                    <p>
                        Your receipt of your registration, via e-mail confirmation, signifies acceptance
                        by Platform
                        Athletics of your order for Services.
                    </p>
                    <p>
                        Platform Athletics reserves the right to deny access to the website or deny Services
                        for any
                        reason and, in its sole discretion, interrupt, restrict or terminate your account
                        without notice to you.
                    </p>
                    <p>
                        Platform Athletics reserves the right to contact you by e-mail and/or telephone
                        to confirm information.
                        Platform is committed to try to prevent fraud and/or misuse of its Services.
                    </p>

                    <h2>7. Use of Services and Account. </h2>
                    <p>
                        You represent and warrant that you are at least 18 years of age or the applicable
                        state age of majority and that you possess the legal right and ability to enter
                        into this
                        Agreement.
                    </p>
                    <p>
                        You agree not to use the Materials, Content, Services and your Account for any unlawful
                        or abusive
                        purpose or in any way which interferes with our ability to provide Services to our
                        customers, or damages our property.
                    </p>
                    <p>
                        If our Services or Accounts are fraudulently used, you agree to immediately notify
                        us of such
                        unauthorized use.
                    </p>
                    <p>
                        We have the right to interrupt, restrict or terminate Services to your Account,
                        without notice
                        to you, if we suspect fraudulent or abusive activity. You agree to cooperate with
                        us in any fraud investigation and to use any fraud prevention measures we prescribe.
                        You agree to not share the information provided within our Services and take full
                        responsibility for any party with whom you share this information.
                    </p>

                    <h2>8. Charges. </h2>
                    <p>
                        You are responsible for paying all charges for Services provided to your Account.
                        Platform Athletics
                        reserves the right to change its pricing and/or billing practices in its sole discretion.
                        Platform Athletics may introduce new products and Services at special introductory
                        pricing to others without notice to you. Introductory pricing may change at the
                        discretion of Platform Athletics.
                    </p>
                    <h2>9. Billing and Payment.</h2>
                    <p>
                        Any applicable initiation fees and annual recurring charges are billed each year
                        on your anniversary
                        date (which is the date your account is activated).
                    </p>
                    <p>
                        Unless otherwise agreed to in writing by Platform Athletics, you are responsible
                        and agree to
                        pay for all charges by credit or debit card, or check. Credit or debit cards will
                        automatically be billed annually. You agree to advise Platform Athletics of any
                        changes to your Account, including name/address changes, credit or debit card account,
                        such as account number, billing address, or expiration date changes.
                    </p>
                    <h2>10. Default/Termination.</h2>
                    <p>
                        You may terminate this Agreement within Sixty (60) days of subscription
                        in accordance with the following procedure.
                    </p>
                    <p>
                        Notice of termination must be sent via email to <a href="mailto:support@platformathletics.com">support@platformathletics.com</a> or
                        by calling
                        Support at (855) 862-5502.
                    </p>
                    <p>
                        You must receive a Cancellation Confirmation Number.  If you do not receive a number,
                        you must
                        contact our Customer Support Department at (855) 862-5502 Ext 2  to verify the generation
                        of a Cancellation Confirmation Number.
                    </p>
                    <p>
                        Your termination request will be fulfilled within 5 (five) business days.
                    </p>
                    <p>
                        Platform Athletics may terminate this Agreement at any time without notice as provided
                        in herein.
                        Upon termination and at Platform Athletics’ sole discretion, the fees for Services
                        (e.g. the initial sign up charge) may be refunded.
                    </p>
                    <p>
                        If you fail to pay any amount owed to us within five (5) days of the due date, or
                        if you have
                        failed to pay amounts due us or an affiliate, or if you breach any representation
                        to us or fail to perform any of the promises you have made in this Agreement, or
                        if you are subject to any proceeding under the Bankruptcy Act or similar laws, you
                        will be in default of this Agreement and we may, in our sole discretion and with
                        or without prior notice, restrict or terminate Services and/or terminate this Agreement,
                        in addition to all other remedies available to us.
                    </p>
                    <p>
                        Upon termination of this Agreement and/or your Services, your right to use the Services
                        immediately
                        ceases. Upon termination, you are responsible for paying all amounts and charges
                        owing under this Agreement.
                    </p>
                    <p>
                        Should your credit or debit card decline for any reason, we will attempt to charge
                        it again
                        as follows: 2nd attempt after one (1) day, 3rd and final attempt after five (5)
                        more days. If the 3rd attempt to bill your credit or debit card is unsuccessful
                        your account will be terminated and we will notify you of such termination by message
                        sent to you via e-mail or by telephone.
                    </p>
                    <p>
                        Accounts will be terminated if we are not able to confirm an order by phone and
                        do not receive
                        any replies from the account holder. A credit or debit card authorization form will
                        be required to reactivate such accounts.
                    </p>
                    <h2>11. Account Changes. </h2>
                    <p>
                        You may change Service features or Service plans by notifying us in writing or by
                        telephone.
                    </p>
                    <h2>12. Modification to Prices or Billing Terms. </h2>
                    <p>
                        Platform Athletics reserves the right, at any time, to change its prices and billing
                        methods for Materials, Content, Services and Accounts, effective immediately upon
                        posting
                        on the Site or by e-mail delivery to you.
                    </p>
                    <h2>13. Modification; Assignment. </h2>
                    <p>
                        Platform Athletics may change or modify this Agreement from time to time, but any
                        such change
                        (a) will be made in good faith, and (b) if significant (as determined in the sole
                        discretion of Platform Athletics), will only be made after first providing you with
                        notice of the change. You can review the most current version of this Agreement
                        at any time at our Site (Platform Athletics.com).
                    </p>
                    <p>
                        If you do not agree to a significant change, you may terminate this Agreement by
                        giving us written
                        notice within 15 days of receipt of our notice of such significant change.
                    </p>
                    <p>
                        No hand-marked changes on this Agreement or any amendment by you will be valid unless
                        we accept
                        the changes in writing.  Delivery by website posting, e-mail and/or facsimile transmission
                        (fax) of a copy of a modification of this Agreement shall be effective as delivery
                        of an original.
                    </p>
                    <h2>14. Assignment. </h2>
                    <p>
                        Platform Athletics may assign all or part of our rights or duties under this Agreement
                        in connection
                        with a sale of all or substantially all the assets of Platform Athletics to a third
                        party without notice to you; provided any such third party shall be obliged to honor
                        the terms of this Agreement. You may not assign this Agreement without our prior
                        written consent.
                    </p>
                    <h2>15. NO WARRANTIES. </h2>
                    <p>
                        THE MATERIALS, CONTENT, SERVICES AND ACCOUNTS ARE PROVIDED "AS IS." WE MAKE NO WARRANTIES
                        REGARDING
                        THE MATERIALS, CONTENT, SERVICES AND ACCOUNTS WHATSOEVER AND DISCLAIM ANY AND ALL
                        EXPRESS OR IMPLIED WARRANTIES OF ANY KIND, INCLUDING ANY WARRANTIES OF MERCHANTABILITY,
                        NON-INFRINGEMENT OF INTELLECTUAL PROPERTY, FITNESS FOR A PARTICULAR PURPOSE, OR
                        WARRANTIES ARISING BY COURSE OF DEALING OR CUSTOM OR TRADE. WE DO NOT AUTHORIZE
                        ANYONE TO MAKE A WARRANTY OF ANY KIND ON OUR BEHALF AND YOU SHOULD NOT RELY ON ANY
                        SUCH STATEMENT. THIS PARAGRAPH SHALL SURVIVE TERMINATION OF THIS AGREEMENT. Some
                        jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions,
                        the foregoing disclaimers may not apply to you insofar as they relate to implied
                        warranties. If you rely on the representations or warranties of any third persons
                        with respect to the Services (including without limitation by dealers or resellers
                        of the Services) beyond those made by Platform Athletics, your sole remedy for such
                        reliance is against the third person making such representation or warranty.
                    </p>
                    <h2>16. LIMITATION OF LIABILITY. </h2>
                    <p>
                        IN NO EVENT SHALL PLATFORM ATHLETICS, ITS OWNERS, PARENTS, SUBSIDIARIES, AFFILIATES
                        AND THEIR
                        RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS
                        AND ANY UNDERLYING CARRIER BE LIABLE FOR ANY DAMAGES, INCLUDING BUT NOT LIMITED
                        TO DIRECT, COMPENSATORY, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY
                        OR PUNITIVE DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR INJURY, DEATH, LOSS
                        OF INFORMATION) ARISING OUT OF OR RELATING TO (i) YOUR INABILITY TO USE THE MATERIALS,
                        CONTENT, SERVICES OR ACCOUNTS; (ii) YOUR MISUSE OF THE MATERIALS, CONTENT, SERVICES
                        OR ACCOUNTS; (iii) NONPERFORMANCE OR A FAILURE OF THE SERVICES CAUSED BY ACTS OR
                        OMISSIONS OF ANOTHER SERVICE PROVIDER, (iv) EQUIPMENT OR SOFTWARE FAILURE OR MODIFICATION;
                        (v) TELECOMMUNICATIONS OR COMPUTER EQUIPMENT FAILURES, OR (vi) ACTS OF GOD, OR OTHER
                        CAUSES BEYOND OUR REASONABLE CONTROL. THE FOREGOING SHALL APPLY EVEN IF PLATFORM
                        ATHLETICS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. PLATFORM ATHLETICS
                        ALSO MAKES NO REPRESENTATIONS OR WARRANTIES THAT YOUR ACCESS TO AND USE OF THE SITE,
                        MATERIALS, CONTENT, SERVICES AND ACCOUNTS (1) WILL BE UNINTERRUPTED OR ERROR FREE;
                        (2) IS FREE OF VIRUSES, UNAUTHORIZED CODE, OR OTHER HARMFUL COMPONENTS; (3) IS SECURE;
                        OR (4) WILL MEET YOUR SATISFACTION. YOU ARE RESPONSIBLE FOR TAKING ALL PRECAUTIONS
                        YOU BELIEVE NECESSARY OR ADVISABLE TO PROTECT YOU AGAINST ANY CLAIM, DAMAGE, LOSS
                        OR HAZARD THAT MAY ARISE BY VIRTUE OF YOUR USE OF THE SITE, MATERIALS, CONTENT,
                        SERVICES AND ACCOUNT.
                    </p>
                    <p>
                        IN NO EVENT SHALL PLATFORM ATHLETICS, ITS PARENTS, SUBSIDIARIES, AFFILIATES AND
                        THEIR RESPECTIVE
                        MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY
                        UNDERLYING CARRIER BE LIABLE FOR INJURIES TO PERSONS OR PROPERTY ARISING FROM USE
                        OF THE SERVICES, OR ANY EQUIPMENT USED IN CONNECTION WITH THE SERVICES.
                    </p>
                    <p>
                        IF, NOTWITHSTANDING THE OTHER TERMS OF THIS AGREEMENT, PLATFORM ATHLETICS SHOULD
                        HAVE ANY LIABILITY
                        TO YOU OR ANY THIRD PARTY FOR ANY LOSS, HARM OR DAMAGE, YOU AND PLATFORM ATHLETICS
                        AGREE THAT IN NO EVENT SHALL LIABILITY OF PLATFORM ATHLETICS TO YOU FOR ANY REASON
                        EXCEED OUR SERVICE CHARGES DURING THE AFFECTED PERIOD GIVING RISE TO SUCH LIABILITY.
                        YOU AND PLATFORM ATHLETICS AGREE THAT THIS SECTION OF THE AGREEMENT, "LIMITATION
                        OF LIABILITY", IS AN AGREED ALLOCATION OF RISK BETWEEN YOU AND PLATFORM ATHLETICS.
                        YOU ACKNOWLEDGE THAT, ABSENT YOUR AGREEMENT TO THIS LIMITATION OF LIABILITY, PLATFORM
                        ATHLETICS WOULD NOT PROVIDE THE SITE, MATERIALS, CONTENT, SERVICES, OR ACCOUNTS
                        TO YOU.
                    </p>
                    <p>
                        THIS LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW
                        AND SHALL SURVIVE
                        TERMINATION OF THIS AGREEMENT.
                    </p>
                    <h2>17. Indemnity. </h2>
                    <p>
                        YOU AGREE TO DEFEND, INDEMNIFY, AND HOLD HARMLESS PLATFORM ATHLETICS, ITS PARENTS,
                        SUBSIDIARIES,
                        AFFILIATES, AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES,
                        STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER, HARMLESS FROM AND AGAINST ANY AND
                        ALL CLAIMS, EXPENSES OR DAMAGES (INCLUDING ATTORNEYS' FEES), WHETHER KNOWN OR UNKNOWN,
                        ARISING FROM, INCURRED AS A RESULT OF, OR IN ANY MANNER RELATED TO (A) YOUR USE
                        OF THE SERVICES, (B) ANY OTHER PERSON'S USE OF ANY ACCOUNT YOU MAINTAIN, REGARDLESS
                        OF WHETHER SUCH USE IS AUTHORIZED BY YOU, OR (C) YOUR PROMISES OR STATEMENTS MADE
                        IN THIS AGREEMENT. YOU HEREBY AGREE TO WAIVE ALL LAWS THAT MAY LIMIT THE EFFECTIVENESS
                        OF THE FOREGOING RELEASES. NOTWITHSTANDING THE FOREGOING, YOU SHALL NOT BE LIABLE
                        FOR CLAIMS, EXPENSES OR DAMAGES ARISING FROM THE INTENTIONAL OR GROSSLY NEGLIGENT
                        ACTS OF PLATFORM ATHLETICS OR ITS EMPLOYEES, AGENTS, CONTRACTORS OR REPRESENTATIVES.
                        THIS INDEMNIFICATION SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW AND SHALL
                        SURVIVE TERMINATION OF THIS AGREEMENT.
                    </p>
                    <p>
                        Furthermore, the subscriber and participants recognize that there is risk involved
                        in the types
                        of activities offered by Platform Athletics. Therefore, the subscriber and participants
                        accept financial responsibility for any injury that they may cause either to themselves
                        or to any other due to their negligence. Should the above mentioned parties, or
                        anyone acting on their behalf, be required incur attorney’s fees and costs to enforce
                        this Agreement; I agree to reimburse them for such fees and costs. I further agree
                        to indemnify and hold harmless Platform Athletics, their principals, agents, employees,
                        and volunteers from liability for the injury or death of any person(s) and damage
                        to property that may result from my negligent or intentional act or omission while
                        participating in the activities offered by Platform Athletics.
                    </p>
                    <h2>18. Force Majeure. </h2>
                    <p>
                        Either party shall be excused from any delay or failure in performance hereunder,
                        other than
                        the payment of moneys, caused by reason of occurrence or contingency beyond its
                        reasonable control, including without limitation, acts of God, earthquake, fire,
                        flooding, riots, terrorism, war or government requirements.
                    </p>
                    <h2>19. Privacy. </h2>
                    <p>
                        Privacy Policy of Platform Athletics is set forth on the website (Platform Athletics.com).
                        Customer authorizes the monitoring and recording of all conversations and telephone
                        calls concerning
                        your Account or the Services and you consent to our contacting you from time to
                        time by means of (a) automatic dialing equipment, or (b) your Platform Athletics
                        voicemail box, or (c) by the contact information you have provided us with.
                    </p>
                    <p>
                        Platform Athletics may also monitor or record calls for troubleshooting and/or service
                        quality
                        control checks required for the rendition of the services provided to its customers.
                    </p>
                    <h2>20. Cooperation With Government Authorities. </h2>
                    <p>
                        If necessary and in accordance with applicable law, Platform Athletics will cooperate
                        with local, state, federal, international and/or worldwide government authorities
                        to protect
                        this Site, Materials, Content, Services, Accounts, visitors, customers, Platform
                        Athletics, its parents, subsidiaries, affiliates and their respective members, managers,
                        directors, officers, employees, stockholders and agents and operational providers,
                        from the unauthorized use of this Site, Materials, Content, Services and Accounts.
                    </p>
                    <h2>21. Links to Other Materials. </h2>
                    <p>
                        The linked sites are not necessarily under the control of Platform Athletics and
                        Platform Athletics
                        is not responsible for the content of any linked site or any link contained in a
                        non-affiliated linked site. Platform Athletics reserves the right to terminate any
                        link or linking program at any time. Platform Athletics has selected the links for
                        your convenience. The selection or omission of links is not intended to endorse
                        any particular companies or products. If you decide to access any of the third party
                        sites linked to this Site, you do so entirely at your own risk. Any links to any
                        portion of the Site shall be the responsibility of the linking party, and Platform
                        Athletics shall not be responsible for notification of any change in name or location
                        of any information on the Site.
                    </p>
                    <h2>22. Dealings With Advertisers. </h2>
                    <p>
                        Your correspondence or business dealings with, or participation in promotions of,
                        advertisers
                        found on or through this website, including payment and delivery of related goods
                        or services, and any other terms, conditions, warranties or representations associated
                        with such dealings, are solely between you and such advertiser. YOU AGREE THAT PLATFORM
                        ATHLETICS, ITS PARENTS, SUBSIDIARIES, AFFILIATES AND THEIR RESPECTIVE MEMBERS, MANAGERS,
                        DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER
                        ARE NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS A RESULT
                        OF ANY SUCH DEALINGS OR AS A RESULT OF SUCH ADVERTISERS ON THE WEBSITE.
                    </p>
                    <h2>23. Notices. </h2>
                    <p>
                        Except as otherwise provided in this Agreement, notices and other communications
                        under this
                        Agreement shall be in writing and shall be delivered, mailed by first-class mail,
                        postage pre-paid or sent by facsimile or electronic mail, addressed, (a) if to you,
                        at the address as kept in our files or at such other address as you shall have furnished
                        to us in writing, or (b) if to us at 815 Boston Post Rd Unit B Weston, MA 02493,
                        attention Customer Support Department. Your notice must specify your name and Account.
                        Each such notice, request or other communication shall be effective (i) if given
                        by mail, 72 hours after such communication is deposited in the mails with first
                        class postage prepaid, addressed as aforesaid, (ii) if sent by facsimile, when sent
                        and receipt is telephonically confirmed or (iii) if given by any other means (including,
                        without limitation, by air courier), when delivered at the address specified above.
                        Oral notices shall be deemed effective on the date reflected in our records.
                    </p>
                    <h2>24. Governing Law. </h2>
                    <p>
                        This Agreement shall be governed by and construed in accordance with the laws of
                        the Commonwealth of Massachusetts
                    </p>
                    <h2>25. Jurisdiction and Venue. </h2>
                    <p>
                        You and Platform Athletics agree that any suit, action or proceeding arising out
                        of or relating
                        to this Agreement shall be instituted only in a Massachusetts state or federal court
                        sitting in Boston, Massachusetts, United States of America. You and Platform Athletics
                        each waive any objection you or Platform Athletics may have now or hereafter to
                        the laying of the venue of any such suit, action or proceeding, and irrevocably
                        submit to the jurisdiction of any such court in any such suit, action or proceeding.
                    </p>
                    <h2>26. General Information. </h2>
                    <p>
                        If any part of this Agreement is held invalid or unenforceable, that portion shall
                        be construed
                        to reflect the parties' original intent, and the remaining portions shall remain
                        in full force and effect.
                    </p>
                    <h2>27. CPNI (Customer Proprietary Network Information) Compliance:</h2>
                    <p>
                        Platform Athletics collects information that is made available to us solely by virtue
                        of our relationship with Customers, such as details regarding the Services purchased.
                        This
                        information and related billing information is known as Customer Proprietary Network
                        Information (CPNI).
                    </p>
                    <p>
                        Platform Athletics safeguards CPNI and complies with Federal Communications Commission
                        (FCC)
                        and other rules requiring Platform Athletics to protect Customer CPNI. Platform
                        Athletics will not disclose CPNI except in accordance with applicable laws. For
                        example, Platform Athletics will not share CPNI with authorized companies if a Customer
                        notifies Platform Athletics that its CPNI may not be shared. Platform Athletics
                        will not share CPNI with unrelated third parties. To opt out of CPNI sharing, please
                        contact Platform Athletics.
                    </p>
                    <p>
                        Platform Athletics will adopt further safeguards and comply with additional CPNI
                        requirements,
                        including filing its annual CPNI Certification, as required by law.
                    </p>
                    <h2>28. Free Trial Period. </h2>
                    <p>
                        Platform Athletics may from time to time offer a free trial period for different
                        terms. All
                        terms and conditions within this agreement apply during the free trial period. In
                        order to qualify for the 60-day free trial, you must pay via the “Invoice Billing”
                        option. If you have signed up via the “Invoice Billing” option, you must pay via
                        check, credit card, or debit card within the 60 day period. If payment is not received
                        Platform Athletics has the right to freeze or shut down account. It is your responsibility
                        to cancel your account by contacting Platform Athletics.
                    </p>
                    <h2>29. Gift Cards, Discount Cards, Partner Promotions and Coupons.</h2>
                    <p>
                        Gift Cards, Discount Cards, Partner Promotions, Promo Codes and Coupons have no
                        cash value and
                        are valid only for the purchase of a new account from Platform Athletics. If you
                        subscribe to Platform Athletics Service using one of these methods we will still
                        collect credit card and billing information from you and your card will be charged
                        when your Account Charges exceed the discount value. This Charge will occur when
                        the difference between your Account Charges and the discount value exceeds your
                        account’s Threshold Amount or in the first regular billing cycle in which the difference
                        exceeds $0, whichever comes first.
                    </p>
                    <p>
                        You hereby consent to Platform Athletics publicizing the existence (but not the
                        terms) of the
                        relationship contemplated hereunder as a part of promotional and marketing activities
                        from time to time by Platform Athletics. All discount offers are forfirst year only
                        and after first year of use of Services, Services will renew at full price.
                    </p>
                    <h3>
                        Acknowledgement:
                    </h3>
                    <p>
                        I have <strong>read</strong> and <strong>understand</strong> the foregoing assumption of risk, and release of liability
                        and I
                        understand that by agreeing and registering for Services it obligates me to indemnify
                        the parties named for any liability for injury or death of any person and damage
                        to property caused by negligent or intentional act or omissions. I understand that
                        by agreeing to this Agreement I am <strong>waiving</strong> valuable legal rights.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>