@model platformAthletic.Model.User

<div class="popup-roster-wrp notify">
    <div class="inner-wrp">
        <div class="popup-title">Send Activation</div>
        <div class="form">
            <div class="bg-blur-top"></div>
            <div class="item-input">
                Message with activation sent successfully to @Model.Email
            </div>

        </div>
        <div class="button-wrp">
            <button class="btn-gray">Close</button>
        </div>
    </div>
</div>
