@{
    ViewBag.Title = "Thank you!";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="container-fluid">
    <div class="side-body">
        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/getting-started">Getting started</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row settings-wrapper">
            <div class="col-lg-2 col-md-2 settings-menu height no-padding-right no-padding-left hidden-xs">
                @Html.Partial("HelpMenu")
            </div>
            <div class="col-lg-10 col-md-10 help-wrapper">
                <h2>Contact Us</h2>
                <hr />
                <div class="row">
                    <div class="col-lg-9">
                       <h1>Thanks!</h1>
                    </div>
                    <div class="col-lg-3">
                        <div class="contact-info-wrapper">
                            <h1>Phone & Email</h1>
                            <h3>(855) 862-5502</h3>

                            <h1>Sales:</h1>
                            <a href="mailto:sales@platformathletics.com">sales@platformathletics.com</a>

                            <h1>Customer service:</h1>
                            <a href="mailto:support@platformathletics.com">support@platformathletics.com</a>

                            <h1>Payment & Mail:</h1>
                            <p>
                                815B Boston Post Road<br>
                                Weston, MA 02493<br>
                            </p>

                            <strong>We look forward to speaking with you!</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>