@{
    ViewBag.Title = "Thank you!";
    Layout = "~/Areas/Default/Views/Shared/_CmsLayoutInner.cshtml";
}

<div class="simple-text-wrapper">
    <h2>Thank you!</h2>
    <div class="text">
        <h3>Thank you for feedback!</h3>
    </div>

    <a href="/" class="back-btn">Back</a>
</div>
