<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="mimeConfig" type="platformAthletic.Global.Config.MimeTypesConfigSection, platformAthletic" />
    <section name="authorizeConfig" type="platformAthletic.Global.Config.AuthorizeSettings, platformAthletic" />
    <section name="mailConfig" type="platformAthletic.Global.Config.MailSettings, platformAthletic" />
    <section name="mailTemplatesConfig" type="platformAthletic.Global.Config.MailTemplateConfig, platformAthletic" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="iconConfig" type="platformAthletic.Global.Config.IconSizesConfigSection, platformAthletic" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <!--<sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>-->
  <sectionGroup name="bundleTransformer">
			<section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
		</sectionGroup><sectionGroup name="jsEngineSwitcher">
			<section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
		</sectionGroup></configSections>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=184.168.194.55;Initial Catalog=NEW_PLTM4;User Id=PLT4M_admin;Password=Platform@1;" />-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=1gb_platformath;Persist Security Info=True;User ID=Developers;Password=monline; Data Source=s4,1433\SQLSTANDART" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=184.168.194.55;Initial Catalog=platform2014_main;User Id=platform;Password=zQ94$5xp;" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=ms-sql-8.in-solve.ru;Initial Catalog=1gb_platformath;User Id=1gb_chernikov;Password=994d312c;"></add>-->
    <!--<add name="ConnectionString" connectionString="Data Source=DNTEAM20140418\MSSQL;Initial Catalog=platformathletics;Integrated Security=True" providerName="System.Data.SqlClient"  />-->
    <!--<add name="ConnectionString" connectionString="Data Source=WORKER\MSSQL;Initial Catalog=platform_big_data;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=SATURN\MSSQL;Initial Catalog=platform_big_data;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=SATURN\MSSQL;Initial Catalog=platform_big_data;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=127.0.0.1,1432;Initial Catalog=29992_pathletics;User ID=master;Encrypt=no;Password=ouA7f^1;" providerName="System.Data.SqlClient"  />-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=1gb_platformath;Persist Security Info=True;User ID=Developers;Password=monline; Data Source=s4,1433\SQLSTANDART" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Culture" value="en" />
    <add key="DebugMode" value="true" />
    <add key="AdminEmail" value="admin@gmail.com" />
    <add key="EnableMail" value="true" />
    <add key="EnableHttps" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="14400" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="~/error">
      <error statusCode="403" redirect="~/error" />
      <error statusCode="404" redirect="~/not-found-page" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="platformAthletic.Helpers" />
        <add namespace="platformAthletic.Tools" />
        <add namespace="StackExchange.Profiling" />
      </namespaces>
    </pages>
    
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="platformAthletic.Global" />
        <add namespace="platformAthletic.Helpers" />
        <add namespace="platformAthletic.Tools" />
        <add namespace="StackExchange.Profiling" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
	<staticContent>
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
	  <remove fileExtension=".ttf" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
    </staticContent> 
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"/>
    <security allowRemoteAccess="yes"/>
  </elmah>-->
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Media/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <mimeConfig>
    <mimeTypes>
      <add name="application/pdf" resource="/Media/images/mime/application-pdf.png" small="/Media/images/mime/small/application-pdf.png" extension=".pdf" />
      <add name="application/msword" resource="/Media/images/mime/application-msword.png" small="/Media/images/mime/small/application-msword.png" extension=".doc" />
      <add name="application/vnd.openxmlformats-officedocument.wordprocessingml.document" resource="/Media/images/mime/application-msword.png" small="/Media/images/mime/small/application-msword.png" extension=".docx" />
      <add name="application/vnd.ms-excel" resource="/Media/images/mime/application-vnd-ms-excel.png" small="/Media/images/mime/small/application-vnd-ms-excel.png" extension=".xls" />
      <add name="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" resource="/Media/images/mime/application-vnd-ms-excel.png" small="/Media/images/mime/small/application-vnd-ms-excel.png" extension=".xlsx" />
      <add name="application/vnd.ms-powerpoint" resource="/Media/images/mime/application-vnd-ms-powerpoint.png" small="/Media/images/mime/small/application-vnd-ms-powerpoint.png" extension=".ppt" />
      <add name="application/vnd.openxmlformats-officedocument.presentationml.presentation" resource="/Media/images/mime/application-vnd-ms-powerpoint.png" small="/Media/images/mime/small/application-vnd-ms-powerpoint.png" extension=".pptx" />
      <add name="application/x-msdownload" resource="/Media/images/mime/application-x-msdownload.png" small="/Media/images/mime/small/application-exe.png" extension=".exe" />
      <add name="application/x-compressed" resource="/Media/images/mime/application-x-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".tgz" />
      <add name="application/x-gzip" resource="/Media/images/mime/application-x-gzip.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".gzip" />
      <add name="application/x-rar-compressed" resource="/Media/images/mime/application-x-rar-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".rar" />
      <add name="application/x-stuffit" resource="/Media/images/mime/application-x-stuffit.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".sit" />
      <add name="application/x-compressed" resource="/Media/images/mime/application-x-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".tgz" />
      <add name="application/x-tar" resource="/Media/images/mime/application-x-tar.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".tar" />
      <add name="application/x-zip-compressed" resource="/Media/images/mime/application-x-zip-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".zip" />
      <add name="audio/aiff" resource="/Media/images/mime/audio-aiff.png" small="/Media/images/mime/small/audio-aiff.png" extension=".aiff" />
      <add name="audio/mpeg" resource="/Media/images/mime/audio-mpeg.png" small="/Media/images/mime/small/audio-mpeg.png" extension=".mp3" />
      <add name="audio/ogg" resource="/Media/images/mime/audio-ogg.png" small="/Media/images/mime/small/audio-ogg.png" extension=".ogg" />
      <add name="audio/wav" resource="/Media/images/mime/audio-wav.png" small="/Media/images/mime/small/audio-wav.png" extension=".wav" />
      <add name="audio/x-ms-wma" resource="/Media/images/mime/audio-x-ms-wma.png" small="/Media/images/mime/small/audio-x-ms-wma.png" extension=".wma" />
      <add name="text/plain" resource="/Media/images/mime/text-plain.png" small="/Media/images/mime/small/text-plain.png" extension=".txt" />
      <add name="text/html" resource="/Media/images/mime/text-html.png" small="/Media/images/mime/small/text-html.png" extension=".html" />
      <add name="text/html" resource="/Media/images/mime/text-html.png" small="/Media/images/mime/small/text-html.png" extension=".htm" />
      <add name="video/avi" resource="/Media/images/mime/video-avi.png" small="/Media/images/mime/small/video-avi.png" extension=".avi" />
      <add name="video/mpeg" resource="/Media/images/mime/video-mpeg.png" small="/Media/images/mime/small/video-mpeg.png" extension=".mpeg" />
      <add name="video/quicktime" resource="/Media/images/mime/video-quicktime.png" small="/Media/images/mime/small/video-quicktime.png" extension=".mov" />
      <add name="video/x-ms-wmv" resource="/Media/images/mime/video-x-ms-wmv.png" small="/Media/images/mime/small/video-x-ms-wmv.png" extension=".wmv" />
      <add name="image/jpeg" resource="" small="/Media/images/mime/small/image-jpg.png" extension=".jpg" />
      <add name="image/jpeg" resource="" small="/Media/images/mime/small/image-jpg.png" extension=".jpeg" />
      <add name="image/gif" resource="" small="/Media/images/mime/small/image-gif.png" extension=".gif" />
      <add name="image/png" resource="" small="/Media/images/mime/small/image-png.png" extension=".png" />
      <add name="image/bmp" resource="/Media/images/mime/image-bmp.png" small="/Media/images/mime/small/image-bmp.png" extension=".bmp" />
    </mimeTypes>
  </mimeConfig>
  <!--<mailConfig SmtpServer="mail.platformathletics.com" SmtpPort="25" SmtpUserName="support@platformathletics.com" SmtpPassword="Million30" SmtpReply="platformathletic@gmail.com" SmtpUser="Platform athletics" EnableSsl="false" Pop3Server="mail.platformathletics.com" Pop3Port="110" Pop3UserName="support@platformathletics.com" Pop3Password="Million30"/>-->
  <!--<mailConfig SmtpServer="smtpout.secureserver.net" SmtpPort="25" SmtpUserName="support@platformathletics.com" SmtpPassword="Million30" SmtpReply="support@platformathletics.com" SmtpUser="Platform athletics" EnableSsl="false" Pop3Server="pop.secureserver.net" Pop3Port="110" Pop3UserName="support@platformathletics.com" Pop3Password="Million30" />-->
  <mailConfig SmtpServer="smtpout.secureserver.net" SmtpPort="25" SmtpUserName="test@platformathletics.com" SmtpPassword="test123" SmtpReply="test@platformathletics.com" SmtpUser="Platform athletics" EnableSsl="false" Pop3Server="pop3-20.1gb.ru" Pop3Port="110" Pop3UserName="u418610" Pop3Password="5b2bcc4e445" />
  
  <!--<mailConfig 
    SmtpServer="smtp-20.1gb.ru" 
    SmtpPort="25" 
    SmtpUserName="u418610" 
    SmtpPassword="5b2bcc4e445" 
    SmtpReply="support@platformathletics.com" 
    SmtpUser="Platform athletics" 
    EnableSsl="false" 
    Pop3Server="pop3-20.1gb.ru" 
    Pop3Port="110" 
    Pop3UserName="u418610" 
    Pop3Password="5b2bcc4e445" 
    />-->
  
  <authorizeConfig Url="https://test.authorize.net/gateway/transact.dll" LoginID="8Um8LcE97A" TransactionKey="5hpn9u254VRPX4gn" />
  <mailTemplatesConfig>
    <mailTemplates>
      <add name="Register" subject="Welcome to The Platform!" template="We are excited you have chosen to work with us in your pursuit of excellence, and we are committed to helping you maximize your team’s potential. Below, please find your username and password:&lt;br/&gt;&lt;br/&gt; Username: {0}&lt;br/&gt;Password: {1}&lt;br/&gt;As you begin, there are a few important tasks to take care of. Upon logging into the site the first time, please follow the steps on the “To Do List”, found on your Team Home Page. To log in, click on the link below and enter your log in info in the top right corner.&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.platformathletics.com'&gt;www.platformathletics.com&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;LET’S GO TO WORK!&lt;br/&gt;&lt;br/&gt;The Platform Team" />
      <add name="RegisterAssistant" subject="Welcome to The Platform!" template="Coach {0} has created an account for you.&lt;br/&gt;Your Username and Temporary Password Are Below:&lt;br/&gt;Username: {1}&lt;br/&gt;Password: {2}&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.platformathletics.com'&gt;www.platformathletics.com&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;LET’S GO TO WORK!&lt;br/&gt;&lt;br/&gt;The Platform Team" />
      <add name="RegisterIndividual" subject="Welcome to The Platform!" template="We recognize your individual ambition and dedication, and we look forward to helping you maximize your potential. Below, please find your username and password:&lt;br/&gt;&lt;br/&gt; Username: {0}&lt;br/&gt;Password: {1}&lt;br/&gt;&lt;br/&gt;As you begin, there are a few important tasks to take care of. After logging in the first time, please visit the “Getting Started” guide under the “Help” tab for instructions on how to use the site:&lt;br/&gt;&lt;br/&gt;To log-in, click on the link below and enter your log-in info in the top right corner:&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.platformathletics.com'&gt;www.platformathletics.com&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;LET’S GO TO WORK!&lt;br/&gt;&lt;br/&gt;The Platform Team" />
      <add name="ForgotPassword" subject="Your password for {0}" template="Below is information to access &lt;a href='http://{2}'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email: {0}&lt;br/&gt;Password: {1}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;Sincerely, &lt;br/&gt;The Platform Team" />
      <add name="RegisterPlayer" subject="Welcome to The Platform!" template="We are excited to have you on board and look forward to helping you maximize your potential. Below, please find your username and temporary password (you can change your password at any time via “Account - Basic Information”):&lt;br/&gt;&lt;br/&gt;Username: {0}&lt;br/&gt;Password: {1}&lt;br/&gt;&lt;br/&gt;To log in, please click the link below and enter your log in info in the top right corner. Upon entering the site you can customize your personal MY PAGE. After doing so, please check with your coach for further instructions:&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.platformathletics.com'&gt;www.platformathletics.com&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;LET’S GO TO WORK!&lt;br/&gt;&lt;br/&gt;The Platform Team" />
      <add name="Resend" subject="You email changed successfully! (Platform)" template="Below is information to access &lt;a href='http://{2}'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email: {0}&lt;br/&gt;Password: {1}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;Sincerely, &lt;br/&gt;The Platform Team" />
      <add name="MailFailed" subject="User email doesn't exist!" template="You are added {0} {1} with email {2}. But email {2} doesn't exist. We can't deliver it.&lt;br/&gt;&lt;br/&gt;The Platform Team" />
    </mailTemplates>
  </mailTemplatesConfig>
  <iconConfig>
    <iconSizes>
      <add name="ImageSize" width="800" height="800" />
      <add name="ImagePreviewSize" width="160" height="120" />
      <add name="EquipmentSize" width="185" height="185" />
      <add name="TeamLogoSize" width="258" height="84" />
      <add name="GallerySize" width="988" height="373" />
      <add name="AvatarSize" width="286" height="303" />
    </iconSizes>
  </iconConfig>
  <resizer>
    <plugins>
      <add name="MvcRoutingShim" />
      <add name="DiskCache" />
    </plugins>
  </resizer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="209715200" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
