@model platformAthletic.Model.PageableData<platformAthletic.Model.Post>
@{
    ViewBag.Title = "Platform Athletics";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var banner = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).Banners["left side big banner"];
}
@section header
{
    <script src="~/Scripts/default/post-index.js"></script>
}
<div class="container-fluid">
    <div class="side-body">
        <div class="breadcrumb">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row posts-wrapper">
            <div class="col-lg-8">
                @foreach (var item in Model.List)
                {
                    @Html.Partial("../Post/Get", item)
                }
            </div>
            <div class="col-lg-4">
                <div class="promoted-wrapper">
                    @Html.Action("Promoted", "Home")
                    <div class="post-list-wrapper" id="PostListWrapper">
                        @Html.Action("List", "Post")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>