@model platformAthletic.Model.PageableData<platformAthletic.Model.Post>
@{
    ViewBag.Title = "Platform Athletics";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var banner = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).Banners["left side big banner"];
}
@section header
{
    <script src="/Media/scripts/default/post.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Media/scripts/default/logged-index.js"></script>
}
<div class="user-home-page-wrp clear">
    @if (banner != null)
    {
        <div class="left">
            @Html.Raw(banner.Show)
        </div>
    }
    <div class="right all-transparent-wrp">
        <div class="scroll-pane">
            <div class="scroll-content clear">
                @foreach (var post in Model.List)
                {
                    @Html.Partial("PostItem", post)
                }
            </div>
        </div>
    </div>
</div>
