@{
    ViewBag.Title = "Individual Register - Platform Athletics";
    Layout = "~/Areas/Default/Views/Shared/_CmsLayoutInner.cshtml";
}
@section header {
    <script type="text/javascript" src="/Media/scripts/select.js"></script>
    <script type="text/javascript" src="/Media/scripts/new/individual-register.js"></script>
}

<div class="individual-register-wrapper">
    <form class="form">
        <div class="white-wrapper">
            <div class="block-wrapper">
                <h2>Lets get to work!</h2>
                <div class="left">
                    <div class="referal-code-wrapper">
                        Use referal<br />
                        code<br />
                        “platform”<br />
                        now through may<br />
                        to lock in<br />
                        50% off
                    </div>
                </div>
                <div class="right">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" />
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" />
                    </div>
                    <div class="form-group">
                        <label>Repeat password</label>
                        <input type="password" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Will be username" />
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-wrapper">
            <div class="shadow"></div>
            <div class="block-wrapper">
                <div class="form-group-2">
                    <label>Name on card</label>
                    <input type="text" />
                </div>
                <div class="form-group-2">
                    <label>Type of card</label>
                    <select required class="mySelectBoxClass" name="rstate">
                        <option value="AL">Visa</option>
                        <option value="AK">Mastercard</option>
                        <option value="AZ">Discovery</option>
                        <option value="AR">American Express</option>
                    </select>
                </div>
                <div class="form-group-2">
                    <label>billing address</label>
                    <input type="text" />
                </div>
                <div class="form-group-2">
                    <label>Credit card number</label>
                    <input type="text" />
                </div>
                <div class="form-group-2">
                    <label>city</label>
                    <input type="text" />
                </div>
                <div class="form-group-2">
                    <label>Expiration date</label>
                    <div class="expiration-month">
                        <select required class="mySelectBoxClass" name="rstate">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="expiration-year">
                        <select required class="mySelectBoxClass" name="rstate">
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-2 state">
                    <label>State</label>
                    <select required class="mySelectBoxClass" name="rstate">
                        <option value="">Alabama</option>
                        <option value="">Alaska</option>
                        <option value="">Arizona</option>
                        <option value="">Arkansas</option>
                        <option value="">California</option>
                        <option value="">Colorado</option>
                        <option value="">Connecticut</option>
                        <option value="">Delaware</option>
                        <option value="">Florida</option>
                        <option value="">Georgia</option>
                        <option value="">Hawaii</option>
                        <option value="">Idaho</option>
                        <option value="">Illinois</option>
                        <option value="">Indiana</option>
                        <option value="">Iowa</option>
                        <option value="">Kansas</option>
                        <option value="">Kentucky</option>
                        <option value="">Louisiana</option>
                        <option value="">Maine</option>
                        <option value="">Maryland</option>
                        <option value="">Massachusetts</option>
                        <option value="">Michigan</option>
                        <option value="">Minnesota</option>
                        <option value="">Mississippi</option>
                        <option value="">Missouri</option>
                        <option value="">Montana</option>
                        <option value="">Nebraska</option>
                        <option value="">Nevada</option>
                        <option value="">New Hampshire</option>
                        <option value="">New Jersey</option>
                        <option value="">New Mexico</option>
                        <option value="">New York</option>
                        <option value="">North Carolina</option>
                        <option value="">North Dakota</option>
                        <option value="">Ohio</option>
                        <option value="">Oklahoma</option>
                        <option value="">Oregon</option>
                        <option value="">Pennsylvania</option>
                        <option value="">Rhode Island</option>
                        <option value="">South Carolina</option>
                        <option value="">South Dakota</option>
                        <option value="">Tennessee</option>
                        <option value="">Texas</option>
                        <option value="">Utah</option>
                        <option value="">Vermont</option>
                        <option value="">Virginia</option>
                        <option value="">Washington</option>
                        <option value="">West Virginia</option>
                        <option value="">Wisconsin</option>
                        <option value="">Wyoming</option>
                    </select>
                </div>
                <div class="form-group-2">
                    <div class="sub-group">
                        <label>CVC</label>
                        <input type="text" class="short" />
                    </div>
                </div>
                <div class="form-group-2">
                    <div class="sub-group">
                        <label>Zip</label>
                        <input type="text" class="short" />
                    </div>
                </div>
                <br/>
                <div class="form-group-2">
                    <div class="sub-group">
                        <label>Referral code</label>
                        <input type="text" class="short" />
                        <button class="apply-btn">Apply</button>
                    </div>
                    <div class="sub-group-2">
                        <label>Total</label>
                        <input type="text" class="shortest" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-wrapper">
            <div class="block-wrapper">
                <div class="form-group">
                    <label>
                        <div class="select">
                            <div class="checkbox-wrp">
                                <div class="checkbox-image"></div>
                                <input type="checkbox" class="selectCheckBox" />
                            </div>
                        </div>
                        <span>Terms and Conditions</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div class="select">
                            <div class="checkbox-wrp">
                                <div class="checkbox-image"></div>
                                <input type="checkbox" class="selectCheckBox" checked />
                            </div>
                        </div>
                        <span>Privacy Policy</span>
                    </label>
                </div>
                <div class="btn-wrapper">
                    <button class="submit">Start free Trial!</button>
                </div>
            </div>
        </div>
    </form>
</div>

<h2>TeamRegister</h2>
