@{
    ViewBag.Title = "Password recovery";
    Layout = "~/Areas/Default/Views/Shared/_CmsLayoutInner.cshtml";
}
<div class="simple-text-wrapper">
    <h2>Success!</h2>
    <div class="text">
        <h3>A temporary password has been sent to your email on record.</h3>
    </div>
    <a href="/" class="back-btn">Back</a>
</div>
