<menu class="top-menu">
    <div class="menu-background"></div>
    <div class="position-relative">
        <ul>
            <li>
                <a  href="/cms">Home<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/cms/who-we-are">Who We Are<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/cms/what-we-do">What We Do<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/cms/join-us">Join Us	<img src="/Media/images/marr.png"></a>
            </li>
            <li>
                <a  href="/cms/contact-us">Contact Us<img src="/Media/images/marr.png"></a>
            </li>
        </ul>
         
    </div>

</menu>