@model ProgressGraphInfo
<div class="modal fade" id="modalProgressGraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">PROGRESS GRAPH</h4>
            </div>
            <div class="modal-body report-progress">
                <p>Progress graph for:</p>
                <h2>@Model.User.LastName, @Model.User.FirstName</h2>
                <p>Date period: @Model.StartDate.ToString("MM/dd/yyyy") to @Model.EndDate.ToString("MM/dd/yyyy")</p>
                <ul id="progressTabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#7-day" data-toggle="tab">7-day</a>
                    </li>
                    <li >
                        <a href="#30-day" data-toggle="tab">30-day</a>
                    </li>
                </ul>
                <div id="playerTabs-content" class="tab-content">
                    <div class="tab-pane active performance7" id="7-day">

                        <div class="performance-chart-wrapper">
                            <canvas id="PerformanceChart" class="performance-chart"></canvas>
                        </div>
                    </div>
                    <div class="tab-pane performance30" id="30-day">
                        <div class="performance-chart-wrapper">
                            <canvas id="PerformanceChart30" class="performance-chart"></canvas>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>
