@model platformAthletic.Models.ViewModels.GroupView

<div class="popup-roster-wrp group">
    <div class="inner-wrp">
        <div class="popup-title">DELETE GROUP</div>
        @using (Html.BeginForm("RemoveGroup", "Schedule", FormMethod.Post, new { id = "RemoveGroupForm" }))
        {
            @Html.Hidden("ID", Model.ID)
            
            <div class="form">
                <div class="bg-blur-top"></div>
                  <div class="item-input">
                    <div class="header-popup">
                   @Model.Name
                    </div>
                </div>
                <div class="item-input">
                    <div class="text">
                   If you delete this group the schedule will be lost and all players will be moved back to the Team. 
                    </div>
                    <span class="field-validation-error">
                    Are you sure you want to delete?
                    </span>
                </div>
                <div class="bg-blur-bottom"></div>
            </div>
            <div class="button-wrp">
                <button class="btn-active primaryColorBg" id="RemoveGroupBtn">Yes</button>
                <button class="btn-gray">No</button>
               
            </div>
        }
    </div>
</div>


