@model platformAthletic.Models.ViewModels.User.BatchPlayersView
@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="modal-body add-players">

    @using (Html.BeginForm("AddPlayers", "Dashboard", FormMethod.Post, new { id = "AddPlayersForm" }))
    {
        <div id="ListOfFields">
            @if (Model.Players != null)
            {
                foreach (var player in Model.Players)
                {
                @Html.Partial("AddPlayerItem", player)
                }
            }
        </div>
    }


    <div class="row hidden-xs">
        <div class="pull-right">
            <div class="btn btn-empty" id="AddMoreRow">ADD MORE <span class="glyphicon glyphicon-plus-sign"></span></div>
        </div>
    </div>
    @if (currentUser.Mode == (int)platformAthletic.Model.User.ModeEnum.Todo)
    {
        <strong class="todo-hint">* Enter as many players as desired and hit submit.</strong>
    }
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
    <button type="button" class="btn btn-primary" id="SubmitAddPlayers">SUBMIT</button>
</div>