@model platformAthletic.Models.ViewModels.User.BatchPlayersView
<div class="modal modal-wide fade" id="modalAddPlayers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close try-close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ADD PLAYER DETAILS</h4>
            </div>
            <div id="AddPlayersBodyWrapper">
                @Html.Partial("AddPlayersBody", Model)
            </div>
        </div>
    </div>
</div>