<div class="modal modal-wide fade" id="ModalChooseOption" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">CHOOSE AN OPTION</h4>
            </div>
            <div id="ModalChooseBodyWrapper">
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-primary" id="ImportPlayerButton" data-dismiss="modal">IMPORT A LIST</button>
                    <button type="button" class="btn btn-primary" id="AddPlayersButton" data-dismiss="modal">ENTER PLAYERS</button>
                </div>
            </div>
        </div>
    </div>
</div>