<div class="modal modal-wide fade" id="ModalImportPlayer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">UPLOAD FILE</h4>
            </div>
            <div id="ModalImportPlayerWrapper">
                <div class="modal-body text-center">
                    <div class="col-md-10">
                        <p class="text-left">
                            *file must be saved as .csv <br />
                            *file must have three columns containing First Name, Last Name, Email <br />
                            *for your convenlence, you can use <a href="#" target="_blank">our template</a> <br />
                        </p>
                         
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <button type="button" class="btn btn-primary" id="" data-dismiss="modal">UPLOAD</button>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-default" id="" data-dismiss="modal">CANSEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>