@model platformAthletic.Models.ViewModels.User.BatchPlayersView
<div class="modal modal-wide fade" id="modalSubmitUploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close try-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">MISSING INFORMATION</h4>
            </div>
            <div class="text-center">
                <p>
                    @ViewBag.AddPlayersCount Players added successfully
                </p>
            </div>
            <div class="modal-body text-left" id="UploadInfo">
                
                <p>
                    @(ViewBag.TotalPlayersCount - ViewBag.AddPlayersCount) Players were missing information. Please review players below, and add requried info or delete player(s)
                </p>
                <hr />
                <div class="add-player-headers">
                    <div class="col-sm-4 col-xs-12">
                        FIRST NAME
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        LAST NAME
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        EMAIL
                    </div>
                </div>
            </div>
            
            <div id="AddPlayersBodyWrapper">
                @Html.Partial("SubmitUploadPlayersBody", Model)
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $("#modalSubmitUploadFile").modal();
        ga('send', 'show_modal', 'modal', 'show', 'dashboard_add_players_missing_information', 1);
        hj('show_dashboard_add_players_missing_information');
    })();
</script>