@model platformAthletic.Models.ViewModels.User.BatchPlayersView
<div class="modal modal-wide fade" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close try-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">COLUMN MATCH</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    Match the column info to the header using drop downs.
                </p>
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-left">
                        <select class="form-control first-column">
                            <option value="FirstName" selected>FIRST NAME</option>
                            <option value="LastName">LAST NAME</option>
                            <option value="Email">EMAIL</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-left">
                        <select class="form-control second-column">
                            <option value="FirstName">FIRST NAME</option>
                            <option value="LastName" selected>LAST NAME</option>
                            <option value="Email">EMAIL</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-left">
                        <select class="form-control third-column">
                            <option value="FirstName">FIRST NAME</option>
                            <option value="LastName">LAST NAME</option>
                            <option value="Email" selected>EMAIL</option>
                        </select>
                    </div>
                 </div>
             </div>
            <div id="AddPlayersBodyWrapper">
                @Html.Partial("UploadPlayersBody", Model)
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $("#modalUploadFile").modal();
    })();
</script>